node-red/ncd-dashboard-2ch-vibration-temp.json
[{"id":"3ace9f58adf86285","type":"subflow","name":"2 Ch - Vibration","info":"","category":"NCD","in":[{"x":60,"y":900,"wires":[{"id":"d7d1c7db4f777433"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"node-red/bridge-dash.svg","status":{"x":1660,"y":820,"wires":[{"id":"13160670f2fc25a0","port":0},{"id":"9dfc750a1ac1a7b2","port":0},{"id":"5e87058ebe2ba393","port":0}]}},{"id":"724e15514a26878b","type":"link out","z":"3ace9f58adf86285","name":"link out 123","mode":"link","links":["2491ec59731a4516","80dfddbd6bed4868","4ea47e1aa8d32c8c","7bbeaf30d9efdc4d"],"x":2395,"y":1060,"wires":[]},{"id":"7abee585e2851a13","type":"link out","z":"3ace9f58adf86285","name":"link out 124","mode":"link","links":["80dfddbd6bed4868","96f63f9b01a2c201","2491ec59731a4516","d737dfe2c159f2fa","625812923ff3c5a5","87baa659ebaeb934","a391d0d2a9a5c154","1b128da59a5759aa","c49126d6b2b70dc2","7ef68be2d131afac","1467692efc79e3f9","adbd3df577eb47d0","5904c6a3e9d3b7dc","ba87cbcb4364f9f0","4ea47e1aa8d32c8c","7bbeaf30d9efdc4d","f664b34705e62073","008cd54f0cc2bfc8","265b930b4a64d67e","b15de388ef5d2c1b","3b7c42658515143f","a8267e42940fcfec","4c0c7092cd57dce7","7a22c6640e0e5291","65f0d2cd04e3bf39","854377ba493681a4"],"x":2355,"y":900,"wires":[]},{"id":"643a663864500b88","type":"link out","z":"3ace9f58adf86285","name":"toGraphs","mode":"link","links":["625812923ff3c5a5","87baa659ebaeb934","a391d0d2a9a5c154","1b128da59a5759aa","c49126d6b2b70dc2","7ef68be2d131afac","1467692efc79e3f9","adbd3df577eb47d0","5904c6a3e9d3b7dc","ba87cbcb4364f9f0","96f63f9b01a2c201","f664b34705e62073","008cd54f0cc2bfc8","265b930b4a64d67e","b15de388ef5d2c1b","3b7c42658515143f","a8267e42940fcfec","4c0c7092cd57dce7","7a22c6640e0e5291","65f0d2cd04e3bf39","854377ba493681a4"],"x":2545,"y":1140,"wires":[]},{"id":"a1077deac362387d","type":"file in","z":"3ace9f58adf86285","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1905,"y":1100,"wires":[["4ca7c348bac46d2c"]],"l":false},{"id":"4ca7c348bac46d2c","type":"csv","z":"3ace9f58adf86285","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1965,"y":1100,"wires":[["d583830a1f2c127f"]],"l":false},{"id":"deb2a003d6c1af9e","type":"change","z":"3ace9f58adf86285","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":920,"wires":[["1d3d3f3a8c6fed3c"]]},{"id":"a13dbc3ced46256b","type":"csv","z":"3ace9f58adf86285","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1445,"y":880,"wires":[["7b7defc2a11afcfa"]],"l":false},{"id":"7b7defc2a11afcfa","type":"file","z":"3ace9f58adf86285","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1495,"y":880,"wires":[["92de0d40c4377711","5e87058ebe2ba393"]],"l":false},{"id":"92de0d40c4377711","type":"function","z":"3ace9f58adf86285","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = context.get(\"vp2countMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"vp2MAC[\"+index+\"]\");\n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"vp2MAC[\"+count+\"]\", newMAC);\ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \ncontext.set(\"vp2countMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":900,"wires":[["8f6f42574c153209","43dbb81c818010ce"]]},{"id":"8f6f42574c153209","type":"function","z":"3ace9f58adf86285","name":"getMACOptionsForDropdown","func":"let count = msg.mac_counter;\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"vp2MAC[\"+index+\"]\");\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":920,"wires":[["7053c5796aaaeb82","4600e607342ab983"]]},{"id":"72c30ae49f1297d7","type":"change","z":"3ace9f58adf86285","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1180,"wires":[["f13d5701c37ea117"]]},{"id":"4600e607342ab983","type":"switch","z":"3ace9f58adf86285","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"vp2macSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2170,"y":920,"wires":[["d7f7759097a72a0c"]]},{"id":"c41a3070bd72699a","type":"change","z":"3ace9f58adf86285","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":1140,"wires":[["ee784261b4a45e36"]]},{"id":"ee784261b4a45e36","type":"json","z":"3ace9f58adf86285","name":"json object","property":"payload.data","action":"","pretty":false,"x":2345,"y":1140,"wires":[["b6f12a5fdab65b48"]],"l":false},{"id":"b6f12a5fdab65b48","type":"function","z":"3ace9f58adf86285","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":1140,"wires":[["643a663864500b88"]]},{"id":"1d3d3f3a8c6fed3c","type":"switch","z":"3ace9f58adf86285","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":990,"y":920,"wires":[["9dfc750a1ac1a7b2"],["50df32aa6ea26a8e"],["2e394b656177dbdf"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"50df32aa6ea26a8e","type":"function","z":"3ace9f58adf86285","name":"buildFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":920,"wires":[["a13dbc3ced46256b"]]},{"id":"2e394b656177dbdf","type":"function","z":"3ace9f58adf86285","name":"buildFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":960,"wires":[["a13dbc3ced46256b"]]},{"id":"f13d5701c37ea117","type":"switch","z":"3ace9f58adf86285","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":1180,"wires":[["7ac3ceace5bdee83"],["605070876916fce3"]]},{"id":"7ac3ceace5bdee83","type":"function","z":"3ace9f58adf86285","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1160,"wires":[["aa96cc26d0d302db"]]},{"id":"605070876916fce3","type":"function","z":"3ace9f58adf86285","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":1200,"wires":[["aa96cc26d0d302db"]]},{"id":"1e5d991ff8cfb4f3","type":"catch","z":"3ace9f58adf86285","name":"","scope":["7b7defc2a11afcfa","a1077deac362387d"],"uncaught":false,"x":1505,"y":800,"wires":[["9dfc750a1ac1a7b2"]],"l":false},{"id":"9dfc750a1ac1a7b2","type":"function","z":"3ace9f58adf86285","name":"function 54","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1575,"y":820,"wires":[[]],"l":false},{"id":"5e87058ebe2ba393","type":"function","z":"3ace9f58adf86285","name":"function 55","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1575,"y":860,"wires":[[]],"l":false},{"id":"c849d0d4c743d8f7","type":"switch","z":"3ace9f58adf86285","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":560,"y":880,"wires":[["2de5c47c979365d5"],["deb2a003d6c1af9e"]],"outputLabels":["defaultPath","userPath"]},{"id":"d00caafced633854","type":"change","z":"3ace9f58adf86285","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":820,"wires":[["578217bde7bd08d6"]]},{"id":"3880acdc2512d2aa","type":"change","z":"3ace9f58adf86285","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":860,"wires":[["c0ddd44d1bb696ff"]]},{"id":"c0ddd44d1bb696ff","type":"switch","z":"3ace9f58adf86285","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":860,"wires":[["9d57b8cf9081be0f"]]},{"id":"578217bde7bd08d6","type":"switch","z":"3ace9f58adf86285","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":820,"wires":[["153f153492c1c67a"]]},{"id":"6c78b4c7cf07b3fe","type":"change","z":"3ace9f58adf86285","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":880,"wires":[["c849d0d4c743d8f7"]]},{"id":"153f153492c1c67a","type":"change","z":"3ace9f58adf86285","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":820,"wires":[["2eb87434a6ce180c"]]},{"id":"db6550d57fb70683","type":"function","z":"3ace9f58adf86285","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":860,"wires":[["a13dbc3ced46256b"]]},{"id":"2eb87434a6ce180c","type":"function","z":"3ace9f58adf86285","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":820,"wires":[["a13dbc3ced46256b"]]},{"id":"9d57b8cf9081be0f","type":"change","z":"3ace9f58adf86285","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":860,"wires":[["db6550d57fb70683"]]},{"id":"3e405aabbae9ec21","type":"switch","z":"3ace9f58adf86285","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1110,"y":1100,"wires":[["69cabb10f9733b0e","0aef90259f8c4ce9"],["72c30ae49f1297d7"]]},{"id":"e30c35349bf8d10e","type":"change","z":"3ace9f58adf86285","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"vp2macSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1100,"wires":[["3e405aabbae9ec21"]]},{"id":"0aef90259f8c4ce9","type":"change","z":"3ace9f58adf86285","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1040,"wires":[["c5b9b2ebc64b53d7"]]},{"id":"69cabb10f9733b0e","type":"change","z":"3ace9f58adf86285","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1100,"wires":[["4896216e3e169952"]]},{"id":"4896216e3e169952","type":"switch","z":"3ace9f58adf86285","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":1100,"wires":[["04a226ea39083604"]]},{"id":"c5b9b2ebc64b53d7","type":"switch","z":"3ace9f58adf86285","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":1040,"wires":[["5758de8195153109"]]},{"id":"a40da5f88aaebdf3","type":"function","z":"3ace9f58adf86285","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1100,"wires":[["a1077deac362387d"]]},{"id":"b61cdcacfde5823b","type":"function","z":"3ace9f58adf86285","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1040,"wires":[["a1077deac362387d"]]},{"id":"5758de8195153109","type":"change","z":"3ace9f58adf86285","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":1040,"wires":[["b61cdcacfde5823b"]]},{"id":"04a226ea39083604","type":"change","z":"3ace9f58adf86285","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":1100,"wires":[["a40da5f88aaebdf3"]]},{"id":"d583830a1f2c127f","type":"function","z":"3ace9f58adf86285","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":1100,"wires":[["103c65fd94dc24ab","8862cdafd152b4b2"],["c41a3070bd72699a"]]},{"id":"c20678f4e0f18531","type":"catch","z":"3ace9f58adf86285","name":"","scope":["ee784261b4a45e36"],"uncaught":false,"x":2320,"y":860,"wires":[[]]},{"id":"d7f7759097a72a0c","type":"function","z":"3ace9f58adf86285","name":"function 56","func":"let inspect = flow.get(\"vpInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2305,"y":920,"wires":[["7abee585e2851a13"],["f69de03fdfa7a647"]],"l":false},{"id":"103c65fd94dc24ab","type":"change","z":"3ace9f58adf86285","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":1060,"wires":[["9cd6f684115ec1ef"]]},{"id":"8862cdafd152b4b2","type":"change","z":"3ace9f58adf86285","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2260,"y":1100,"wires":[["77c9242c4abb42ea"]]},{"id":"9cd6f684115ec1ef","type":"json","z":"3ace9f58adf86285","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":2345,"y":1060,"wires":[["724e15514a26878b"]],"l":false},{"id":"d7d1c7db4f777433","type":"switch","z":"3ace9f58adf86285","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"81","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":900,"wires":[["6c78b4c7cf07b3fe"],["e66bc4d6b2901f5c"]]},{"id":"e66bc4d6b2901f5c","type":"function","z":"3ace9f58adf86285","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":920,"wires":[["b1a7d56e64f010c3"]]},{"id":"b1a7d56e64f010c3","type":"link out","z":"3ace9f58adf86285","name":"link out 125","mode":"link","links":["13160670f2fc25a0"],"x":515,"y":920,"wires":[]},{"id":"13160670f2fc25a0","type":"link in","z":"3ace9f58adf86285","name":"link in 180","links":["b1a7d56e64f010c3"],"x":1575,"y":780,"wires":[[]]},{"id":"3865dfc1cee5c60f","type":"link in","z":"3ace9f58adf86285","name":"link in 181","links":["13d14e6318867650"],"x":495,"y":1120,"wires":[["5f83e8e355b12522"]]},{"id":"8011c4b826dbb8c5","type":"change","z":"3ace9f58adf86285","name":"clear inspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":1140,"wires":[["e498412cc0a3d075"]],"l":false},{"id":"e498412cc0a3d075","type":"link out","z":"3ace9f58adf86285","name":"link out 126","mode":"link","links":["15fb5b9a8ed375b8","7a24a6ac4b624c90","51cf16cbadf168e6","99c3300dc54346f2","6793ccc5b548f95b","d61f481b7a5b5ada","b1a8283f38a4d3f2"],"x":945,"y":1140,"wires":[]},{"id":"dd8e66154e64fd75","type":"function","z":"3ace9f58adf86285","name":"inspectCheck","func":"var actualMAC = msg.payload;\nvar lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1100,"wires":[["8011c4b826dbb8c5","e30c35349bf8d10e"]]},{"id":"77c9242c4abb42ea","type":"link out","z":"3ace9f58adf86285","name":"link out 127","mode":"link","links":["d737dfe2c159f2fa"],"x":2365,"y":1100,"wires":[]},{"id":"910ecf9da3c7c632","type":"change","z":"3ace9f58adf86285","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new ncd sensor with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1815,"y":880,"wires":[["e934f93418424edd"]],"l":false},{"id":"5f83e8e355b12522","type":"ui-dropdown","z":"3ace9f58adf86285","group":"3e5477a88c0626b3","name":"","label":"MAC","tooltip":"","order":2,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":600,"y":1100,"wires":[["dd8e66154e64fd75"]]},{"id":"e934f93418424edd","type":"ui-notification","z":"3ace9f58adf86285","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":1920,"y":880,"wires":[]},{"id":"0a3d3c0be4246b86","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1420,"wires":[["7e988d076c31d004"]],"l":false},{"id":"51cf16cbadf168e6","type":"link in","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"link in 182","links":["e498412cc0a3d075","f69de03fdfa7a647"],"x":2695,"y":1600,"wires":[["0a3d3c0be4246b86","040a6686a69efc1b","adb17b43c682c9fb","abbd0b6c4a8be888","ac2ba99ba2f0da1a","7ef8a3aea46443fc","e236f57ece5b5d20","7373a88e2113f78b","55ce15e6d0618563","32d2cfe61d2a29be"]]},{"id":"040a6686a69efc1b","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1460,"wires":[["d8594ca2ab90dc3b"]],"l":false},{"id":"adb17b43c682c9fb","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1500,"wires":[["13cf84194273d139"]],"l":false},{"id":"abbd0b6c4a8be888","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1540,"wires":[["1ac906d5af2aeee7"]],"l":false},{"id":"ac2ba99ba2f0da1a","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1580,"wires":[["3ba72a427b5ad3fd"]],"l":false},{"id":"7ef8a3aea46443fc","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1620,"wires":[["a8c53c2c3dfda230"]],"l":false},{"id":"e236f57ece5b5d20","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1660,"wires":[["eaad6c4fe256915c"]],"l":false},{"id":"7373a88e2113f78b","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1700,"wires":[["c48341ffaf252572"]],"l":false},{"id":"55ce15e6d0618563","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1740,"wires":[["a8028e6cc6e1288e"]],"l":false},{"id":"32d2cfe61d2a29be","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1780,"wires":[["e3d6ee9ec1c0f67c"]],"l":false},{"id":"7a24a6ac4b624c90","type":"link in","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"link in 183","links":["e498412cc0a3d075","f69de03fdfa7a647"],"x":3055,"y":2060,"wires":[["12b9a6ee6b8c95bf","6ce9afe58341ad06","3e5b7bd49981d004","6bf24aa491fde3f9","ca485aec8f881408","af1816a5c5bbe612","115eb51b7e084347","e3fecd9202ab5ce0","d59614d5c1328956","36076b949abe6244","4d0a4cf17b78605a","1492780d2ee95bd7","8b9d038f3860fa49","48da0261c88d6ecd"]]},{"id":"06bd156d82dfcdfb","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1420,"wires":[["a5790559e29df1a3"]],"l":false},{"id":"56252cf4cf29bda4","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1500,"wires":[["b60ce660680f149d"]],"l":false},{"id":"97281bc8cbacf0f4","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1540,"wires":[["519bf6c517072ec9"]],"l":false},{"id":"3691826122aeb220","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1580,"wires":[["7a33493f90818178"]],"l":false},{"id":"fc3896187c65f1f8","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1620,"wires":[["88d4b47f1ae26c9c"]],"l":false},{"id":"d0d795a0e1ca977b","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1660,"wires":[["d0c65ad585bd40b5"]],"l":false},{"id":"05b8e470968c53cd","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1760,"wires":[["ea478c08ad6f3f86"]],"l":false},{"id":"15fb5b9a8ed375b8","type":"link in","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"link in 184","links":["e498412cc0a3d075","f69de03fdfa7a647"],"x":3895,"y":1620,"wires":[["06bd156d82dfcdfb","56252cf4cf29bda4","97281bc8cbacf0f4","3691826122aeb220","fc3896187c65f1f8","d0d795a0e1ca977b","05433590b93de56d"]]},{"id":"05433590b93de56d","type":"switch","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3955,"y":1740,"wires":[["502f1b7c61b31d9d"],["05b8e470968c53cd"]],"l":false},{"id":"502f1b7c61b31d9d","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1720,"wires":[["ea478c08ad6f3f86"]],"l":false},{"id":"7e988d076c31d004","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1420,"wires":[]},{"id":"d8594ca2ab90dc3b","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2910,"y":1460,"wires":[]},{"id":"13cf84194273d139","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1500,"wires":[]},{"id":"1ac906d5af2aeee7","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1540,"wires":[]},{"id":"3ba72a427b5ad3fd","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1580,"wires":[]},{"id":"a8c53c2c3dfda230","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1620,"wires":[]},{"id":"eaad6c4fe256915c","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2900,"y":1660,"wires":[]},{"id":"c48341ffaf252572","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1700,"wires":[]},{"id":"a8028e6cc6e1288e","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1740,"wires":[]},{"id":"e3d6ee9ec1c0f67c","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1780,"wires":[]},{"id":"a61d411cd780caf1","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"07f29f71154dac47","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":2870,"y":1380,"wires":[]},{"id":"97b3a81d20440bcc","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA - CH1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3250,"y":1380,"wires":[]},{"id":"e9a2974f03190510","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4090,"y":1380,"wires":[]},{"id":"a5790559e29df1a3","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1420,"wires":[]},{"id":"b54f935c7d513a22","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":4,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4120,"y":1460,"wires":[]},{"id":"b60ce660680f149d","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":3,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1500,"wires":[]},{"id":"519bf6c517072ec9","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4080,"y":1540,"wires":[]},{"id":"7a33493f90818178","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1580,"wires":[]},{"id":"88d4b47f1ae26c9c","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4090,"y":1620,"wires":[]},{"id":"d0c65ad585bd40b5","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1660,"wires":[]},{"id":"ea478c08ad6f3f86","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":10,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4140,"y":1760,"wires":[]},{"id":"97c799522cdd2d1a","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"4786dc859b7c9480","order":9,"width":"0","height":"0","name":"dummy","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4100,"y":1720,"wires":[]},{"id":"2491ec59731a4516","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 185","links":["7abee585e2851a13","724e15514a26878b"],"x":3205,"y":900,"wires":[["eb394ba7521c7ec3"]]},{"id":"08106f586e15cb16","type":"change","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3975,"y":780,"wires":[["613376582823b0e0"]],"l":false},{"id":"613376582823b0e0","type":"range","z":"3ace9f58adf86285","g":"786028c828cba4d6","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4015,"y":740,"wires":[["e41af7684689aa52"]],"l":false},{"id":"d737dfe2c159f2fa","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 186","links":["77c9242c4abb42ea","7abee585e2851a13"],"x":3925,"y":780,"wires":[["08106f586e15cb16"]]},{"id":"fab9df080785d8a4","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"61fb2d3af76ccdf4","order":1,"width":"0","height":"0","name":"","label":"Temperature Channel - 1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":3370,"y":860,"wires":[]},{"id":"c6ab129b47fe7279","type":"ui-gauge","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"vpTempGauge","group":"61fb2d3af76ccdf4","order":3,"width":"2","height":"4","gtype":"gauge-34","gstyle":"needle","title":"","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"90","color":"#5cd65c"},{"from":"100","color":"#5cd65c"}],"min":0,"max":"100","sizeThickness":"40","sizeGap":"0","sizeKeyThickness":"0","styleRounded":true,"styleGlow":false,"className":"vp2TempGauge","x":3400,"y":940,"wires":[]},{"id":"ce1c29ec7578951f","type":"ui-template","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"61fb2d3af76ccdf4","page":"","ui":"","name":"vp2Line","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"vp2Line\"></div>\n</template>\n<style>\n.vp2Line{\n  position: relative;\n  border-left: 2000px solid white ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: -34px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3420,"y":900,"wires":[[]]},{"id":"71b6738c83ad74f1","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"6f7e0646abf46088","order":1,"width":"1","height":"1","name":"","label":"ODR 1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":3110,"y":880,"wires":[]},{"id":"41e7eb4fae8ee40a","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"3081a990e65acad2","order":2,"width":"4","height":"1","name":"","label":"X1 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":2910,"y":1040,"wires":[]},{"id":"82ecceabf93d83fc","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"7889368efe74e777","name":"vp2BatteryChart","label":"","order":4,"chartType":"line","category":"[\"battery\",\"\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"[0].battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#36d2f8","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vp2BatteryChart","x":4160,"y":700,"wires":[[]]},{"id":"e41af7684689aa52","type":"ui-template","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"7889368efe74e777","page":"","ui":"","name":"vp2BatteryPercent","order":3,"width":"1","height":"4","head":"","format":"<template>\n    <v-progress-circular class=\"vp2Circular\" :rotate=\"180\" bg-color=\"#053a66\" model-value=\"20\" :size=\"180\" :width=\"5\" color=\"#36d2f8\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"white\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n            </div>\n            <div class=\"vp2Scale\">\n                {{ msg.scale }}%\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.vp2Circular{\n    font-size: 30px;\n    font-weight: bold !important;\n    top: -76px !important;\n    left: 0px !important;\n}\n.vp2Scale{\n    color: #ffffff;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4150,"y":740,"wires":[[]]},{"id":"eb394ba7521c7ec3","type":"change","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s1_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3255,"y":900,"wires":[["c6ab129b47fe7279"]],"l":false},{"id":"60f93c14cdf51fca","type":"change","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s1_odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3005,"y":940,"wires":[["56a05c3c3df5eff4"]],"l":false},{"id":"80dfddbd6bed4868","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 187","links":["7abee585e2851a13","724e15514a26878b"],"x":2955,"y":940,"wires":[["60f93c14cdf51fca"]]},{"id":"6793ccc5b548f95b","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 188","links":["e498412cc0a3d075"],"x":3925,"y":620,"wires":[["8cfe2b4d2f3fcde7"]]},{"id":"8cfe2b4d2f3fcde7","type":"change","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3975,"y":620,"wires":[["c8904be39891fa8e","82ecceabf93d83fc","e41af7684689aa52"]],"l":false},{"id":"96f63f9b01a2c201","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 189","links":["7abee585e2851a13","643a663864500b88"],"x":3925,"y":660,"wires":[["82ecceabf93d83fc"]]},{"id":"6e97e8dfefd9d914","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 190","links":["13d14e6318867650","c8904be39891fa8e"],"x":3255,"y":940,"wires":[["c6ab129b47fe7279","4ede5357db880149"]]},{"id":"762a2ecf5ae392f1","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 191","links":["13d14e6318867650","c8904be39891fa8e"],"x":2955,"y":980,"wires":[["56a05c3c3df5eff4"]]},{"id":"afa5d006288f309d","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 192","links":["13d14e6318867650"],"x":3925,"y":740,"wires":[["613376582823b0e0","82ecceabf93d83fc"]]},{"id":"4ede5357db880149","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"61fb2d3af76ccdf4","name":"vp2TempChart","label":"","order":9007199254740991,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"s1_temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#5cd65c","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vp2TempChart","x":3400,"y":980,"wires":[[]]},{"id":"56a05c3c3df5eff4","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"6f7e0646abf46088","order":3,"width":"0","height":"0","name":"ODR 1","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"32","color":"#ffffff","className":"vp2ValueODR","x":3110,"y":980,"wires":[]},{"id":"f4c96b181cddd9ca","type":"ui-template","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"6f7e0646abf46088","page":"","ui":"","name":"vp2Line","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"lineVP2\"></div>\n</template>\n<style>\n.lineVP2{\n  position: absolute;\n  border-left: 200px solid white ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: 40px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3100,"y":920,"wires":[[]]},{"id":"fd8c099353bc1b27","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"3081a990e65acad2","name":"vpX-ACC","label":"","order":1,"chartType":"line","category":"[\"x1_rms_ACC_G\",\"x1_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":2910,"y":1080,"wires":[[]]},{"id":"37ca96264a5a8afc","type":"ui-template","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"7889368efe74e777","page":"","ui":"","name":"vp2Line","order":2,"width":"5","height":"1","head":"","format":"<template>\n    <div class=\"vp2Line\"></div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4180,"y":660,"wires":[[]]},{"id":"87da70d4fff95567","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"7889368efe74e777","order":1,"width":"5","height":"1","name":"vp2 Battery Text","label":"Battery Percent","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":4160,"y":620,"wires":[]},{"id":"796c44c8398853ab","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"8b11eca77e123869","order":2,"width":"4","height":"1","name":"","label":"X1 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3160,"y":1040,"wires":[]},{"id":"36d2172faaf331f8","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"8b11eca77e123869","name":"vpX-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"x1_velocity_mm_sec\",\"x1_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3170,"y":1080,"wires":[[]]},{"id":"35ab9324d6dbde3f","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"607e278978719039","order":2,"width":"2","height":"1","name":"X1 - Peak (Hz)","label":"X1 Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3400,"y":1040,"wires":[]},{"id":"6f9a0ad4756f5349","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"607e278978719039","name":"vpX-Peak","label":"","order":1,"chartType":"line","category":"[\"x1_peak_one_Hz\",\"x1_peak_two_Hz\",\"x1_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3420,"y":1080,"wires":[[]]},{"id":"39c993b2ef2b7608","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"64d372314cdc49f4","order":2,"width":"4","height":"1","name":"","label":"Y1 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":2910,"y":1120,"wires":[]},{"id":"9cc95c33b3fd8c77","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"64d372314cdc49f4","name":"vpY-ACC","label":"","order":1,"chartType":"line","category":"[\"y1_rms_ACC_G\",\"y1_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":2910,"y":1160,"wires":[[]]},{"id":"60ef83fd416d615b","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"a333ce84aee05ad4","order":2,"width":"4","height":"1","name":"","label":"Y1 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3160,"y":1120,"wires":[]},{"id":"33953c52a8b0858d","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"a333ce84aee05ad4","name":"vpY-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"y1_velocity_mm_sec\",\"y1_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3170,"y":1160,"wires":[[]]},{"id":"235dfe55357e41c9","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"39f674abf7518f1e","order":2,"width":"4","height":"1","name":"Y1 - Peak (Hz)","label":"Y1 - Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3400,"y":1120,"wires":[]},{"id":"6f9863235b8be361","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"39f674abf7518f1e","name":"vpY-Peak","label":"","order":1,"chartType":"line","category":"[\"y1_peak_one_Hz\",\"y1_peak_two_Hz\",\"y1_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3420,"y":1160,"wires":[[]]},{"id":"67622fd25eee5d01","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"2d38d057659ced52","order":2,"width":"4","height":"1","name":"","label":"Z1 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":2910,"y":1200,"wires":[]},{"id":"1b856f94b187fcd9","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"2d38d057659ced52","name":"vpZ-ACC","label":"","order":1,"chartType":"line","category":"[\"z1_rms_ACC_G\",\"z1_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":2910,"y":1240,"wires":[[]]},{"id":"081c9964ff21a063","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"f187641492957d3f","order":2,"width":"4","height":"1","name":"","label":"Z1 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3160,"y":1200,"wires":[]},{"id":"f8a649fa4a595b34","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"f187641492957d3f","name":"vpZ-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"z1_velocity_mm_sec\",\"z1_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3170,"y":1240,"wires":[[]]},{"id":"a955dd5dac324815","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"7f7288fbc8bd5e53","order":2,"width":"4","height":"1","name":"Z1 - Peak (Hz)","label":"Z1 - Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3400,"y":1200,"wires":[]},{"id":"7e75203dea5398d1","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"7f7288fbc8bd5e53","name":"vpZ-Peak","label":"","order":1,"chartType":"line","category":"[\"z1_peak_one_Hz\",\"z1_peak_two_Hz\",\"z1_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3420,"y":1240,"wires":[[]]},{"id":"625812923ff3c5a5","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 193","links":["7abee585e2851a13","643a663864500b88"],"x":3255,"y":980,"wires":[["4ede5357db880149"]]},{"id":"a391d0d2a9a5c154","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 194","links":["13d14e6318867650","c8904be39891fa8e","643a663864500b88","7abee585e2851a13"],"x":2815,"y":1080,"wires":[["fd8c099353bc1b27"]]},{"id":"87baa659ebaeb934","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 195","links":["13d14e6318867650","c8904be39891fa8e","7abee585e2851a13","643a663864500b88"],"x":2815,"y":1160,"wires":[["9cc95c33b3fd8c77"]]},{"id":"1b128da59a5759aa","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 196","links":["13d14e6318867650","c8904be39891fa8e","7abee585e2851a13","643a663864500b88"],"x":2815,"y":1240,"wires":[["1b856f94b187fcd9"]]},{"id":"c49126d6b2b70dc2","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 197","links":["13d14e6318867650","c8904be39891fa8e","7abee585e2851a13","643a663864500b88"],"x":3055,"y":1080,"wires":[["36d2172faaf331f8"]]},{"id":"7ef68be2d131afac","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 198","links":["13d14e6318867650","c8904be39891fa8e","7abee585e2851a13","643a663864500b88"],"x":3055,"y":1160,"wires":[["33953c52a8b0858d"]]},{"id":"1467692efc79e3f9","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 199","links":["13d14e6318867650","c8904be39891fa8e","643a663864500b88","7abee585e2851a13"],"x":3055,"y":1240,"wires":[["f8a649fa4a595b34"]]},{"id":"adbd3df577eb47d0","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 200","links":["13d14e6318867650","c8904be39891fa8e","7abee585e2851a13","643a663864500b88"],"x":3315,"y":1080,"wires":[["6f9a0ad4756f5349"]]},{"id":"5904c6a3e9d3b7dc","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 201","links":["13d14e6318867650","c8904be39891fa8e","7abee585e2851a13","643a663864500b88"],"x":3315,"y":1160,"wires":[["6f9863235b8be361"]]},{"id":"ba87cbcb4364f9f0","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 202","links":["13d14e6318867650","c8904be39891fa8e","7abee585e2851a13","643a663864500b88"],"x":3315,"y":1240,"wires":[["7e75203dea5398d1"]]},{"id":"12b9a6ee6b8c95bf","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1820,"wires":[["757c419988c312b2"]],"l":false},{"id":"757c419988c312b2","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":12,"width":"0","height":"0","name":"y-rms-ACC-G","label":"y-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":1820,"wires":[]},{"id":"6ce9afe58341ad06","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1860,"wires":[["0b198495b3cd23bc"]],"l":false},{"id":"0b198495b3cd23bc","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":13,"width":"0","height":"0","name":"y-max-ACC-G","label":"y-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":1860,"wires":[]},{"id":"55da27d5a77f7cdd","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":14,"width":"0","height":"0","name":"y-Velocity-mm-sec","label":"y-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1900,"wires":[]},{"id":"3e5b7bd49981d004","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1900,"wires":[["55da27d5a77f7cdd"]],"l":false},{"id":"2f46a3bca0680852","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":15,"width":"0","height":"0","name":"y-Displacement-mm-sec","label":"y-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3290,"y":1940,"wires":[]},{"id":"6bf24aa491fde3f9","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1940,"wires":[["2f46a3bca0680852"]],"l":false},{"id":"8c2aa89e8ffea9ca","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":16,"width":"0","height":"0","name":"y-Peak-One (Hz)","label":"y-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1980,"wires":[]},{"id":"ca485aec8f881408","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1980,"wires":[["8c2aa89e8ffea9ca"]],"l":false},{"id":"d145739e5c4f5b4c","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":17,"width":"0","height":"0","name":"y-Peak-Two (Hz)","label":"y-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2020,"wires":[]},{"id":"af1816a5c5bbe612","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2020,"wires":[["d145739e5c4f5b4c"]],"l":false},{"id":"4ebb1f86df736445","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":18,"width":"0","height":"0","name":"y-Peak-Three (Hz)","label":"y-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2060,"wires":[]},{"id":"115eb51b7e084347","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2060,"wires":[["4ebb1f86df736445"]],"l":false},{"id":"99c3300dc54346f2","type":"link in","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"link in 203","links":["e498412cc0a3d075","f69de03fdfa7a647"],"x":3045,"y":1600,"wires":[["a04db165c56f0ff2","6056e2540b1e9056","90b5099d1fd881d2","91a4066687d62e79","5567c085b7ad0fe6","421a9533cea105ae","cd97749dd1c9ccb4","449304d8f91646f9","31ba13c5fbc6e944","83cc6b262e827e18"]]},{"id":"a04db165c56f0ff2","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1420,"wires":[["05785cd29e15f277"]],"l":false},{"id":"6056e2540b1e9056","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s1_odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1460,"wires":[["0d71bd1c94675b0e"]],"l":false},{"id":"90b5099d1fd881d2","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s1_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1500,"wires":[["530523723302dab3"]],"l":false},{"id":"05785cd29e15f277","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":2,"width":"0","height":"0","name":"mode:","label":"mode:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3230,"y":1420,"wires":[]},{"id":"0d71bd1c94675b0e","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":3,"width":"0","height":"0","name":"odr","label":"odr:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3230,"y":1460,"wires":[]},{"id":"530523723302dab3","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":4,"width":"0","height":"0","name":"Temperature","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1500,"wires":[]},{"id":"91a4066687d62e79","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1540,"wires":[["65533fb266cf2841"]],"l":false},{"id":"65533fb266cf2841","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":5,"width":"0","height":"0","name":"x-rms-ACC-G","label":"x-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":1540,"wires":[]},{"id":"5567c085b7ad0fe6","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1580,"wires":[["a407313928b10dc8"]],"l":false},{"id":"a407313928b10dc8","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":6,"width":"0","height":"0","name":"x-max-ACC-G","label":"x-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":1580,"wires":[]},{"id":"0da9158ab8249d3d","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":7,"width":"0","height":"0","name":"x-Velocity-mm-sec","label":"x-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1620,"wires":[]},{"id":"421a9533cea105ae","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1620,"wires":[["0da9158ab8249d3d"]],"l":false},{"id":"c3c088adfd07ad25","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":8,"width":"0","height":"0","name":"x-Displacement-mm-sec","label":"x-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3290,"y":1660,"wires":[]},{"id":"cd97749dd1c9ccb4","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1660,"wires":[["c3c088adfd07ad25"]],"l":false},{"id":"980691716bb32d10","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":9,"width":"0","height":"0","name":"x-Peak-One (Hz)","label":"x-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1700,"wires":[]},{"id":"449304d8f91646f9","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1700,"wires":[["980691716bb32d10"]],"l":false},{"id":"4fcbc072b0c667e4","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":10,"width":"0","height":"0","name":"x-Peak-Two (Hz)","label":"x-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1740,"wires":[]},{"id":"31ba13c5fbc6e944","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1740,"wires":[["4fcbc072b0c667e4"]],"l":false},{"id":"1b03ac873f7044ee","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"6cb2b57789b3272e","order":11,"width":"0","height":"0","name":"x-Peak-Three (Hz)","label":"x-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1780,"wires":[]},{"id":"83cc6b262e827e18","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1780,"wires":[["1b03ac873f7044ee"]],"l":false},{"id":"f2bfecc1db00b4aa","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":7,"width":"0","height":"0","name":"z-Peak-Three (Hz)","label":"z-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2420,"wires":[]},{"id":"e3fecd9202ab5ce0","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2180,"wires":[["325b178502010e27"]],"l":false},{"id":"325b178502010e27","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":1,"width":"0","height":"0","name":"z-rms-ACC-G","label":"z-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":2180,"wires":[]},{"id":"d59614d5c1328956","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2220,"wires":[["2d56a16df2c2104c"]],"l":false},{"id":"2d56a16df2c2104c","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":2,"width":"0","height":"0","name":"z-max-ACC-G","label":"z-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":2220,"wires":[]},{"id":"c6c34f66b42d8743","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":3,"width":"0","height":"0","name":"z-Velocity-mm-sec","label":"z-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2260,"wires":[]},{"id":"36076b949abe6244","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2260,"wires":[["c6c34f66b42d8743"]],"l":false},{"id":"384681f72efff474","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":4,"width":"0","height":"0","name":"z-Displacement-mm-sec","label":"z-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3290,"y":2300,"wires":[]},{"id":"4d0a4cf17b78605a","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2300,"wires":[["384681f72efff474"]],"l":false},{"id":"78d4d2d44d17bc35","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":5,"width":"0","height":"0","name":"z-Peak-One (Hz)","label":"z-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2340,"wires":[]},{"id":"1492780d2ee95bd7","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2340,"wires":[["78d4d2d44d17bc35"]],"l":false},{"id":"4db3268c861e87aa","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":6,"width":"0","height":"0","name":"z-Peak-Two (Hz)","label":"z-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2380,"wires":[]},{"id":"8b9d038f3860fa49","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2380,"wires":[["4db3268c861e87aa"]],"l":false},{"id":"48da0261c88d6ecd","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2420,"wires":[["f2bfecc1db00b4aa"]],"l":false},{"id":"c8904be39891fa8e","type":"link out","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link out 128","mode":"link","links":["a391d0d2a9a5c154","87baa659ebaeb934","6e97e8dfefd9d914","1b128da59a5759aa","c49126d6b2b70dc2","7ef68be2d131afac","1467692efc79e3f9","adbd3df577eb47d0","5904c6a3e9d3b7dc","ba87cbcb4364f9f0","762a2ecf5ae392f1","eba894b159d6694c","9cb0868353af1c74","008cd54f0cc2bfc8","265b930b4a64d67e","b15de388ef5d2c1b","3b7c42658515143f","a8267e42940fcfec","4c0c7092cd57dce7","7a22c6640e0e5291","65f0d2cd04e3bf39","854377ba493681a4"],"x":4045,"y":620,"wires":[]},{"id":"43dbb81c818010ce","type":"switch","z":"3ace9f58adf86285","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1765,"y":880,"wires":[["910ecf9da3c7c632"]],"l":false},{"id":"f69de03fdfa7a647","type":"link out","z":"3ace9f58adf86285","name":"link out 129","mode":"link","links":["51cf16cbadf168e6","99c3300dc54346f2","7a24a6ac4b624c90","15fb5b9a8ed375b8","d61f481b7a5b5ada","b1a8283f38a4d3f2"],"x":2355,"y":940,"wires":[]},{"id":"66ae58bca07c4030","type":"function","z":"3ace9f58adf86285","g":"d228058209e83ba3","name":"vp2InspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\nlet chSelection = flow.get(\"vp2chSelection\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    flow.set(\"vpInspect\", true);\n    unit = \n    {\n        groups: \n        { \n            show: [\n                \"ncd-2ch-vibration:vp2Insp1\",\n                \"ncd-2ch-vibration:vp2Insp2\",\n                \"ncd-2ch-vibration:vp2Insp3\",\n                \"ncd-2ch-vibration:vp2Insp4\",\n                \"ncd-2ch-vibration:vp2Insp5\"\n            ],\n            hide: \n            [\n                \"ncd-2ch-vibration:vp2Battery\",\n                \"ncd-2ch-vibration:vp2ODR\",\n                \"ncd-2ch-vibration:vp2Temperature\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\",\n                \"ncd-2ch-vibration:vp2ODR2\",\n                \"ncd-2ch-vibration:vp2Temperature2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n            ],\n            disable: \n            [\n                \"ncd-2ch-vibration:vp2SelectMAC\",\n                \"ncd-2ch-vibration:vp2Download\",\n                \"ncd-2ch-vibration:vp2switch\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"vpInspect\", false);\n    if(chSelection == false)\n    {\n        unit = \n        {\n            groups: \n            { \n                hide: \n                [\n                    \"ncd-2ch-vibration:vp2Insp1\",\n                    \"ncd-2ch-vibration:vp2Insp2\",\n                    \"ncd-2ch-vibration:vp2Insp3\",\n                    \"ncd-2ch-vibration:vp2Insp4\",\n                    \"ncd-2ch-vibration:vp2Insp5\",\n                    \"ncd-2ch-vibration:vp2ODR2\",\n                    \"ncd-2ch-vibration:vp2Temperature2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n                ],\n                show: [\n                    \"ncd-2ch-vibration:vp2Battery\",\n                    \"ncd-2ch-vibration:vp2ODR\",\n                    \"ncd-2ch-vibration:vp2Temperature\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n                ],\n                enable : \n                [\n                    \"ncd-2ch-vibration:vp2SelectMAC\",\n                    \"ncd-2ch-vibration:vp2Download\",\n                    \"ncd-2ch-vibration:vp2switch\"\n                ]\n            } \n        }\n    }\n    if(chSelection == true) \n    {\n        unit =\n        {\n            groups:\n            {\n                hide:\n                [\n                    \"ncd-2ch-vibration:vp2Insp1\",\n                    \"ncd-2ch-vibration:vp2Insp2\",\n                    \"ncd-2ch-vibration:vp2Insp3\",\n                    \"ncd-2ch-vibration:vp2Insp4\",\n                    \"ncd-2ch-vibration:vp2Insp5\",\n                    \"ncd-2ch-vibration:vp2ODR\",\n                    \"ncd-2ch-vibration:vp2Temperature\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n                ],\n                show: \n                [\n                    \"ncd-2ch-vibration:vp2Battery\",\n                    \"ncd-2ch-vibration:vp2ODR2\",\n                    \"ncd-2ch-vibration:vp2Temperature2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n                ],\n                enable:\n                [\n                    \"ncd-2ch-vibration:vp2SelectMAC\",\n                    \"ncd-2ch-vibration:vp2Download\",\n                    \"ncd-2ch-vibration:vp2switch\"\n                ]\n            }\n        }\n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3250,"y":160,"wires":[["65da32e67e5b3e11"]]},{"id":"eecd7bfc9b38c052","type":"ui-template","z":"3ace9f58adf86285","g":"d228058209e83ba3","group":"","page":"0bf94704d1cb5a6f","ui":"","name":"vp2InspectButton","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"vp2InspectButton\" @click=\"send({payload:true})\" color=\"#6e53de\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.vp2InspectButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3050,"y":160,"wires":[["66ae58bca07c4030"]]},{"id":"65da32e67e5b3e11","type":"ui-control","z":"3ace9f58adf86285","g":"d228058209e83ba3","name":"","ui":"ec459411017ddf37","events":"change","x":3440,"y":160,"wires":[[]]},{"id":"069bbd6e93587fac","type":"function","z":"3ace9f58adf86285","g":"d228058209e83ba3","name":"initShow","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-2ch-vibration:vp2Insp1\",\n            \"ncd-2ch-vibration:vp2Insp2\",\n            \"ncd-2ch-vibration:vp2Insp3\",\n            \"ncd-2ch-vibration:vp2Insp4\",\n            \"ncd-2ch-vibration:vp2Insp5\",\n            \"ncd-2ch-vibration:vp2ODR2\",\n            \"ncd-2ch-vibration:vp2Temperature2\",\n            \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n            \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n            \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n        ],\n        show:\n        [\n            \"ncd-2ch-vibration:vp2SelectMAC\",\n            \"ncd-2ch-vibration:vp2Download\",\n            \"ncd-2ch-vibration:vp2switch\",\n            \"ncd-2ch-vibration:vp2Battery\",\n            \"ncd-2ch-vibration:vp2ODR\",\n            \"ncd-2ch-vibration:vp2Temperature\",\n            \"ncd-2ch-vibration:vp2ACCGroup_x\",\n            \"ncd-2ch-vibration:vp2ACCGroup_y\",\n            \"ncd-2ch-vibration:vp2ACCGroup_z\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n        ],\n        enable:\n        [\n            \"ncd-2ch-vibration:vp2SelectMAC\",\n            \"ncd-2ch-vibration:vp2Download\",\n            \"ncd-2ch-vibration:vp2switch\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3260,"y":200,"wires":[["65da32e67e5b3e11","cc18a8d8e66ae6f6"]]},{"id":"3d25aea54e3e2fb3","type":"ui-event","z":"3ace9f58adf86285","g":"d228058209e83ba3","ui":"ec459411017ddf37","name":"","x":3110,"y":200,"wires":[["069bbd6e93587fac"]]},{"id":"68b4bbfff752e6d6","type":"inject","z":"3ace9f58adf86285","g":"d228058209e83ba3","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":3095,"y":240,"wires":[["51ce211f90a252a2"]],"l":false},{"id":"51ce211f90a252a2","type":"change","z":"3ace9f58adf86285","g":"d228058209e83ba3","name":"","rules":[{"t":"delete","p":"vpMAC","pt":"flow"},{"t":"delete","p":"vp2macSelection","pt":"flow"},{"t":"delete","p":"vpDateDownloadFile","pt":"flow"},{"t":"delete","p":"vpInspect","pt":"flow"},{"t":"delete","p":"vp2chSelection","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":240,"wires":[["069bbd6e93587fac","13d14e6318867650"]],"icon":"font-awesome/fa-remove","l":false},{"id":"13d14e6318867650","type":"link out","z":"3ace9f58adf86285","g":"d228058209e83ba3","name":"link out 131","mode":"link","links":["3865dfc1cee5c60f","6e97e8dfefd9d914","762a2ecf5ae392f1","afa5d006288f309d","a391d0d2a9a5c154","87baa659ebaeb934","1b128da59a5759aa","c49126d6b2b70dc2","7ef68be2d131afac","1467692efc79e3f9","adbd3df577eb47d0","5904c6a3e9d3b7dc","ba87cbcb4364f9f0","9cb0868353af1c74","eba894b159d6694c","008cd54f0cc2bfc8","265b930b4a64d67e","b15de388ef5d2c1b","3b7c42658515143f","a8267e42940fcfec","4c0c7092cd57dce7","7a22c6640e0e5291","65f0d2cd04e3bf39","854377ba493681a4"],"x":3215,"y":240,"wires":[]},{"id":"1cfb1296eda9d7c5","type":"link in","z":"3ace9f58adf86285","g":"d228058209e83ba3","name":"link in 205","links":["58319e702696099d","e1b15ab61b82ff4d"],"x":3325,"y":120,"wires":[["65da32e67e5b3e11"]]},{"id":"096462f832e2351e","type":"ui-switch","z":"3ace9f58adf86285","g":"c7bb6eeb66be51fb","name":"","label":"Ch1 / Ch2","group":"f82b9b4104bcd042","order":4,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","style":"","className":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2680,"y":360,"wires":[["85406bd1aed5666e"]]},{"id":"d15ae5ed8015446e","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":10,"width":"0","height":"0","name":"SENSOR DATA - CH2 (payload)","label":"SENSOR DATA - CH2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3670,"y":1380,"wires":[]},{"id":"f29941c5e7a5e087","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":8,"width":"0","height":"0","name":"dummy","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3600,"y":1340,"wires":[]},{"id":"d61f481b7a5b5ada","type":"link in","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"link in 206","links":["e498412cc0a3d075","f69de03fdfa7a647"],"x":3475,"y":2100,"wires":[["32d3a429b89aa353","35f343dbc6c82467","8770001cb7dcf41c","824f5a64a5d81afc","85ac6b55f251ee98","93a38af58da6b08e","ecae0c556bf6264c","62d3d25d0d6fba0c","ca7eddcc6ac9b368","591c9bc376362332","95160d5d4b8a3378","5771c02ab8ea44a9","af808164e8eee768","66b8f8e4bf7b7f1b"]]},{"id":"32d3a429b89aa353","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1860,"wires":[["b545d3a3f90c8ff3"]],"l":false},{"id":"b545d3a3f90c8ff3","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":1,"width":"0","height":"0","name":"y2-rms-ACC-G","label":"y2-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1860,"wires":[]},{"id":"35f343dbc6c82467","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1900,"wires":[["bca58e2eba1cad90"]],"l":false},{"id":"bca58e2eba1cad90","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":2,"width":"0","height":"0","name":"y2-max-ACC-G","label":"y2-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1900,"wires":[]},{"id":"320f00762eed8ffa","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":3,"width":"0","height":"0","name":"y2-Velocity-mm-sec","label":"y2-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1940,"wires":[]},{"id":"8770001cb7dcf41c","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1940,"wires":[["320f00762eed8ffa"]],"l":false},{"id":"6450563c2a27f256","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":4,"width":"0","height":"0","name":"y2-Displacement-mm-sec","label":"y2-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3710,"y":1980,"wires":[]},{"id":"824f5a64a5d81afc","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1980,"wires":[["6450563c2a27f256"]],"l":false},{"id":"b412d27e75846cb6","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":5,"width":"0","height":"0","name":"y2-Peak-One (Hz)","label":"y2-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2020,"wires":[]},{"id":"85ac6b55f251ee98","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2020,"wires":[["b412d27e75846cb6"]],"l":false},{"id":"95d00738020df222","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":6,"width":"0","height":"0","name":"y2-Peak-Two (Hz)","label":"y2-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2060,"wires":[]},{"id":"93a38af58da6b08e","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2060,"wires":[["95d00738020df222"]],"l":false},{"id":"0c912fa837fbad6a","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":7,"width":"0","height":"0","name":"y2-Peak-Three (Hz)","label":"y2-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2100,"wires":[]},{"id":"ecae0c556bf6264c","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2100,"wires":[["0c912fa837fbad6a"]],"l":false},{"id":"b1a8283f38a4d3f2","type":"link in","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"link in 207","links":["e498412cc0a3d075","f69de03fdfa7a647"],"x":3465,"y":1580,"wires":[["c9c04179a7b71751","dfbd1d73952faf1d","4f001428c9af378e","1efb01fa73ce9ede","f72e4879da70c4e2","a81e0c86e32721a7","1b9e058c8e2a9f81","5b9a932a734157dc","e35dc2a0eb56b90d"]]},{"id":"c9c04179a7b71751","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s2_odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1440,"wires":[["2c0889b3a9118e82"]],"l":false},{"id":"dfbd1d73952faf1d","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s2_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1480,"wires":[["87b4e1e63e4a02e5"]],"l":false},{"id":"2c0889b3a9118e82","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":11,"width":"0","height":"0","name":"odr 2","label":"odr 2:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3650,"y":1440,"wires":[]},{"id":"87b4e1e63e4a02e5","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":12,"width":"0","height":"0","name":"Temperature 2","label":"Temperature 2:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1480,"wires":[]},{"id":"4f001428c9af378e","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1520,"wires":[["43f498e783090669"]],"l":false},{"id":"43f498e783090669","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":13,"width":"0","height":"0","name":"x2-rms-ACC-G","label":"x2-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1520,"wires":[]},{"id":"1efb01fa73ce9ede","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1560,"wires":[["e36f73b2583c85ad"]],"l":false},{"id":"e36f73b2583c85ad","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":14,"width":"0","height":"0","name":"x2-max-ACC-G","label":"x2-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1560,"wires":[]},{"id":"849222d76b07bbdc","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":15,"width":"0","height":"0","name":"x2-Velocity-mm-sec","label":"x2-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1600,"wires":[]},{"id":"f72e4879da70c4e2","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1600,"wires":[["849222d76b07bbdc"]],"l":false},{"id":"b8f7cb174c7beef7","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":16,"width":"0","height":"0","name":"x2-Displacement-mm-sec","label":"x2-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3710,"y":1640,"wires":[]},{"id":"a81e0c86e32721a7","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1640,"wires":[["b8f7cb174c7beef7"]],"l":false},{"id":"60cc38f5c2b4dbf0","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":17,"width":"0","height":"0","name":"x2-Peak-One (Hz)","label":"x2-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1680,"wires":[]},{"id":"1b9e058c8e2a9f81","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1680,"wires":[["60cc38f5c2b4dbf0"]],"l":false},{"id":"b444766f4d34c396","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":18,"width":"0","height":"0","name":"x2-Peak-Two (Hz)","label":"x2-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1720,"wires":[]},{"id":"5b9a932a734157dc","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1720,"wires":[["b444766f4d34c396"]],"l":false},{"id":"5cb0bef2b7342cba","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"24e8397acc063d71","order":19,"width":"0","height":"0","name":"x2-Peak-Three (Hz)","label":"x2-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1760,"wires":[]},{"id":"e35dc2a0eb56b90d","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1760,"wires":[["5cb0bef2b7342cba"]],"l":false},{"id":"16164f63d88b6828","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":14,"width":"0","height":"0","name":"z2-Peak-Three (Hz)","label":"z2-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2380,"wires":[]},{"id":"62d3d25d0d6fba0c","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2140,"wires":[["2385a27b436c97dc"]],"l":false},{"id":"2385a27b436c97dc","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":8,"width":"0","height":"0","name":"z2-rms-ACC-G","label":"z2-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":2140,"wires":[]},{"id":"ca7eddcc6ac9b368","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2180,"wires":[["4a42335624751cee"]],"l":false},{"id":"4a42335624751cee","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":9,"width":"0","height":"0","name":"z2-max-ACC-G","label":"z2-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":2180,"wires":[]},{"id":"68e061f4604d711e","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":10,"width":"0","height":"0","name":"z2-Velocity-mm-sec","label":"z2-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2220,"wires":[]},{"id":"591c9bc376362332","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2220,"wires":[["68e061f4604d711e"]],"l":false},{"id":"7c21ec45c8871658","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":11,"width":"0","height":"0","name":"z2-Displacement-mm-sec","label":"z2-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3710,"y":2260,"wires":[]},{"id":"95160d5d4b8a3378","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2260,"wires":[["7c21ec45c8871658"]],"l":false},{"id":"39433b49723c8768","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":12,"width":"0","height":"0","name":"z2-Peak-One (Hz)","label":"z2-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2300,"wires":[]},{"id":"5771c02ab8ea44a9","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2300,"wires":[["39433b49723c8768"]],"l":false},{"id":"cba4d6a85af63e99","type":"ui-text","z":"3ace9f58adf86285","g":"7a29e15b3605220e","group":"2b5ddfdaeae7aa4f","order":13,"width":"0","height":"0","name":"z2-Peak-Two (Hz)","label":"z2-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2340,"wires":[]},{"id":"af808164e8eee768","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2340,"wires":[["cba4d6a85af63e99"]],"l":false},{"id":"66b8f8e4bf7b7f1b","type":"change","z":"3ace9f58adf86285","g":"7a29e15b3605220e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2380,"wires":[["16164f63d88b6828"]],"l":false},{"id":"4ea47e1aa8d32c8c","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 208","links":["7abee585e2851a13","724e15514a26878b"],"x":3945,"y":900,"wires":[["fe7e4c57e5bdf4b2"]]},{"id":"50d0236e21be81f6","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"1012cbd171f1374c","order":1,"width":"0","height":"0","name":"Temperature Channel - 2","label":"Temperature Channel - 2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":4130,"y":860,"wires":[]},{"id":"6c2e4711602d97d2","type":"ui-gauge","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"vpTempGauge2","group":"1012cbd171f1374c","order":3,"width":"2","height":"4","gtype":"gauge-34","gstyle":"needle","title":"","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"90","color":"#5cd65c"},{"from":"100","color":"#5cd65c"}],"min":0,"max":"100","sizeThickness":"40","sizeGap":"0","sizeKeyThickness":"0","styleRounded":true,"styleGlow":false,"className":"vp2TempGauge","x":4160,"y":940,"wires":[]},{"id":"58264cb8e64ac1d1","type":"ui-template","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"1012cbd171f1374c","page":"","ui":"","name":"vp2Line2","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"vp2Line\"></div>\n</template>\n<style>\n.vp2Line{\n  position: relative;\n  border-left: 2000px solid white ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: -34px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4180,"y":900,"wires":[[]]},{"id":"0a31301be47e5e45","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"51fa25ecfc2a35db","order":1,"width":"1","height":"1","name":"ODR - 2","label":"ODR - 2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":3840,"y":860,"wires":[]},{"id":"6cdf332f5db59f48","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"d037ea7958faf54a","order":2,"width":"4","height":"1","name":"X2 - ACC ","label":"X2 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3680,"y":1040,"wires":[]},{"id":"fe7e4c57e5bdf4b2","type":"change","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s2_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3995,"y":900,"wires":[["6c2e4711602d97d2"]],"l":false},{"id":"c91db83c574740d8","type":"change","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s2_odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3745,"y":940,"wires":[["379fcc49c103c187"]],"l":false},{"id":"7bbeaf30d9efdc4d","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 210","links":["7abee585e2851a13","724e15514a26878b"],"x":3695,"y":940,"wires":[["c91db83c574740d8"]]},{"id":"9cb0868353af1c74","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 213","links":["13d14e6318867650","c8904be39891fa8e"],"x":3995,"y":940,"wires":[["6c2e4711602d97d2","e65dec3422ff4108"]]},{"id":"eba894b159d6694c","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 214","links":["13d14e6318867650","c8904be39891fa8e"],"x":3695,"y":980,"wires":[["379fcc49c103c187"]]},{"id":"e65dec3422ff4108","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"1012cbd171f1374c","name":"vp2TempChart2","label":"","order":9007199254740991,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"s2_temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#5cd65c","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vp2TempChart","x":4160,"y":980,"wires":[[]]},{"id":"379fcc49c103c187","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"51fa25ecfc2a35db","order":3,"width":"0","height":"0","name":"ODR2","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"32","color":"#ffffff","className":"vp2ValueODR","x":3840,"y":980,"wires":[]},{"id":"3f1533cd90fc007a","type":"ui-template","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"51fa25ecfc2a35db","page":"","ui":"","name":"vibrationPlusLine2","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"lineVP2\"></div>\n</template>\n<style>\n.lineVP2{\n  position: absolute;\n  border-left: 200px solid white ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: 40px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3810,"y":900,"wires":[[]]},{"id":"7072acf23e3ca0b7","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"d037ea7958faf54a","name":"vpX2-ACC","label":"","order":1,"chartType":"line","category":"[\"x2_rms_ACC_G\",\"x2_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3670,"y":1080,"wires":[[]]},{"id":"f3e0e1629b04cb33","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"b51f576bdca43dfc","order":2,"width":"4","height":"1","name":"X2 - Vel / Displ","label":"X2 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3920,"y":1040,"wires":[]},{"id":"586e4810f98bc8f9","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"b51f576bdca43dfc","name":"vpX2-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"x2_velocity_mm_sec\",\"x2_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3920,"y":1080,"wires":[[]]},{"id":"feb92a10944bd691","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"f23d584c29e5e385","order":2,"width":"2","height":"1","name":"X2 - Peak (Hz)","label":"X2 Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":4160,"y":1040,"wires":[]},{"id":"8a43f55fc3ad63a8","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"f23d584c29e5e385","name":"vpX2-Peak","label":"","order":1,"chartType":"line","category":"[\"x2_peak_one_Hz\",\"x2_peak_two_Hz\",\"x2_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":4170,"y":1080,"wires":[[]]},{"id":"b6a2d40bc40eedd3","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"4918cda05c89ceb3","order":2,"width":"4","height":"1","name":"Y2 - ACC ","label":"Y2 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3680,"y":1120,"wires":[]},{"id":"6f27bf1b28514f4c","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"4918cda05c89ceb3","name":"vpY2-ACC","label":"","order":1,"chartType":"line","category":"[\"y2_rms_ACC_G\",\"y2_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3670,"y":1160,"wires":[[]]},{"id":"0dbc3e8ebeb06259","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"b60e46b738c5deba","order":2,"width":"4","height":"1","name":"Y2 - Vel / Displ","label":"Y2 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3920,"y":1120,"wires":[]},{"id":"4374c86198b9d4ac","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"b60e46b738c5deba","name":"vpY2-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"y2_velocity_mm_sec\",\"y2_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3920,"y":1160,"wires":[[]]},{"id":"c21a2de735a56293","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"a678bbf7c1abbd85","order":2,"width":"4","height":"1","name":"Y2 - Peak (Hz)","label":"Y2 - Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":4160,"y":1120,"wires":[]},{"id":"d277b93593196ffe","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"a678bbf7c1abbd85","name":"vpY2-Peak","label":"","order":1,"chartType":"line","category":"[\"y2_peak_one_Hz\",\"y2_peak_two_Hz\",\"y2_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":4170,"y":1160,"wires":[[]]},{"id":"bbd02bd43a9efabf","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"a669ae2b41acdc89","order":2,"width":"4","height":"1","name":"Z2 - ACC ","label":"Z2 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vibrationPlusChartsText","x":3680,"y":1200,"wires":[]},{"id":"b6caf0ad08b681e9","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"a669ae2b41acdc89","name":"vpZ2-ACC","label":"","order":1,"chartType":"line","category":"[\"z2_rms_ACC_G\",\"z2_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3670,"y":1240,"wires":[[]]},{"id":"421ba0f8a48c71d5","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"caf265dc7b00ccc9","order":2,"width":"4","height":"1","name":"Z2 - Vel / Displ","label":"Z2 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":3920,"y":1200,"wires":[]},{"id":"6e35199e28a6c204","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"caf265dc7b00ccc9","name":"vpZ2-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"z2_velocity_mm_sec\",\"z2_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3920,"y":1240,"wires":[[]]},{"id":"ed9b863a3d41d5ad","type":"ui-text","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"8b5b991a2ae853ed","order":2,"width":"4","height":"1","name":"Z2 - Peak (Hz)","label":"Z2 - Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vibrationPlusChartsText","x":4160,"y":1200,"wires":[]},{"id":"04b15ce84951f964","type":"ui-chart","z":"3ace9f58adf86285","g":"786028c828cba4d6","group":"8b5b991a2ae853ed","name":"vpZ2-Peak","label":"","order":1,"chartType":"line","category":"[\"z2_peak_one_Hz\",\"z2_peak_two_Hz\",\"z2_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":4170,"y":1240,"wires":[[]]},{"id":"f664b34705e62073","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 216","links":["7abee585e2851a13","643a663864500b88"],"x":3995,"y":980,"wires":[["e65dec3422ff4108"]]},{"id":"008cd54f0cc2bfc8","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 217","links":["13d14e6318867650","643a663864500b88","7abee585e2851a13","c8904be39891fa8e"],"x":3565,"y":1080,"wires":[["7072acf23e3ca0b7"]]},{"id":"265b930b4a64d67e","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 218","links":["13d14e6318867650","7abee585e2851a13","643a663864500b88","c8904be39891fa8e"],"x":3565,"y":1160,"wires":[["6f27bf1b28514f4c"]]},{"id":"b15de388ef5d2c1b","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 219","links":["13d14e6318867650","7abee585e2851a13","643a663864500b88","c8904be39891fa8e"],"x":3565,"y":1240,"wires":[["b6caf0ad08b681e9"]]},{"id":"3b7c42658515143f","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 220","links":["13d14e6318867650","7abee585e2851a13","643a663864500b88","c8904be39891fa8e"],"x":3805,"y":1080,"wires":[["586e4810f98bc8f9"]]},{"id":"a8267e42940fcfec","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 221","links":["13d14e6318867650","7abee585e2851a13","643a663864500b88","c8904be39891fa8e"],"x":3805,"y":1160,"wires":[["4374c86198b9d4ac"]]},{"id":"4c0c7092cd57dce7","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 222","links":["13d14e6318867650","643a663864500b88","7abee585e2851a13","c8904be39891fa8e"],"x":3805,"y":1240,"wires":[["6e35199e28a6c204"]]},{"id":"7a22c6640e0e5291","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 223","links":["13d14e6318867650","7abee585e2851a13","643a663864500b88","c8904be39891fa8e"],"x":4065,"y":1080,"wires":[["8a43f55fc3ad63a8"]]},{"id":"65f0d2cd04e3bf39","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 224","links":["13d14e6318867650","7abee585e2851a13","643a663864500b88","c8904be39891fa8e"],"x":4065,"y":1160,"wires":[["d277b93593196ffe"]]},{"id":"854377ba493681a4","type":"link in","z":"3ace9f58adf86285","g":"786028c828cba4d6","name":"link in 225","links":["13d14e6318867650","7abee585e2851a13","643a663864500b88","c8904be39891fa8e"],"x":4065,"y":1240,"wires":[["04b15ce84951f964"]]},{"id":"b4586a48b852d77f","type":"function","z":"3ace9f58adf86285","g":"c7bb6eeb66be51fb","name":"inspectFunction","func":"let unit = {};\nflow.set(\"vp2chSelection\", false);\nunit = {\n    groups: \n    { \n        show: \n        [\n            \"ncd-2ch-vibration:vp2SelectMAC\",\n            \"ncd-2ch-vibration:vp2Download\",\n            \"ncd-2ch-vibration:vp2switch\",\n            \"ncd-2ch-vibration:vp2Battery\",\n            \"ncd-2ch-vibration:vp2ODR\",\n            \"ncd-2ch-vibration:vp2Temperature\",\n            \"ncd-2ch-vibration:vp2ACCGroup_x\",\n            \"ncd-2ch-vibration:vp2ACCGroup_y\",\n            \"ncd-2ch-vibration:vp2ACCGroup_z\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n        ],\n        hide: \n        [\n            \"ncd-vibration-plus:vp2ODR2\",\n            \"ncd-vibration-plus:vp2Temperature2\",\n            \"ncd-vibration-plus:vp2ACCGroup_x2\",\n            \"ncd-vibration-plus:vp2ACCGroup_y2\",\n            \"ncd-vibration-plus:vp2ACCGroup_z2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_x2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_y2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_z2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_x2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_y2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_z2\",\n            \"ncd-2ch-vibration:vp2Insp1\",\n            \"ncd-2ch-vibration:vp2Insp2\",\n            \"ncd-2ch-vibration:vp2Insp3\",\n            \"ncd-2ch-vibration:vp2Insp4\",\n            \"ncd-2ch-vibration:vp2Insp5\"\n        ]\n    } \n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2980,"y":380,"wires":[["e1b15ab61b82ff4d"]]},{"id":"85406bd1aed5666e","type":"switch","z":"3ace9f58adf86285","g":"c7bb6eeb66be51fb","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":2810,"y":360,"wires":[["0c629387d5090789"],["b4586a48b852d77f"]]},{"id":"0c629387d5090789","type":"function","z":"3ace9f58adf86285","g":"c7bb6eeb66be51fb","name":"inspectFunction","func":"let unit = {};\nflow.set(\"vp2chSelection\", true);\nunit = {\n    groups: \n    { \n        show: \n        [\n            \"ncd-2ch-vibration:vp2SelectMAC\",\n            \"ncd-2ch-vibration:vp2Download\",\n            \"ncd-2ch-vibration:vp2switch\",\n            \"ncd-2ch-vibration:vp2Battery\",\n            \"ncd-vibration-plus:vp2ODR2\",\n            \"ncd-vibration-plus:vp2Temperature2\",\n            \"ncd-vibration-plus:vp2ACCGroup_x2\",\n            \"ncd-vibration-plus:vp2ACCGroup_y2\",\n            \"ncd-vibration-plus:vp2ACCGroup_z2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_x2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_y2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_z2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_x2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_y2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_z2\"\n\n        ],\n        hide: \n        [\n            \"ncd-2ch-vibration:vp2ODR\",\n            \"ncd-2ch-vibration:vp2Temperature\",\n            \"ncd-2ch-vibration:vp2ACCGroup_x\",\n            \"ncd-2ch-vibration:vp2ACCGroup_y\",\n            \"ncd-2ch-vibration:vp2ACCGroup_z\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\",\n            \"ncd-2ch-vibration:vp2Insp1\",\n            \"ncd-2ch-vibration:vp2Insp2\",\n            \"ncd-2ch-vibration:vp2Insp3\",\n            \"ncd-2ch-vibration:vp2Insp4\",\n            \"ncd-2ch-vibration:vp2Insp5\"\n        ]\n    } \n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2980,"y":340,"wires":[["e1b15ab61b82ff4d"]]},{"id":"e1b15ab61b82ff4d","type":"link out","z":"3ace9f58adf86285","g":"c7bb6eeb66be51fb","name":"link out 132","mode":"link","links":["1cfb1296eda9d7c5"],"x":3095,"y":360,"wires":[]},{"id":"16da7e1f823a2ca8","type":"change","z":"3ace9f58adf86285","g":"c7bb6eeb66be51fb","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"vp2chSelection","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2510,"y":360,"wires":[["096462f832e2351e"]]},{"id":"cc18a8d8e66ae6f6","type":"link out","z":"3ace9f58adf86285","g":"d228058209e83ba3","name":"link out 133","mode":"link","links":["f78bb9d64806cf11"],"x":3355,"y":220,"wires":[]},{"id":"f78bb9d64806cf11","type":"link in","z":"3ace9f58adf86285","g":"c7bb6eeb66be51fb","name":"link in 226","links":["cc18a8d8e66ae6f6"],"x":2385,"y":360,"wires":[["16da7e1f823a2ca8"]]},{"id":"1b2834870f2067e7","type":"function","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3880,"y":360,"wires":[["1748c287610e9267"]]},{"id":"86aff10ce7be3dbc","type":"http response","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","statusCode":"","headers":{},"x":4170,"y":360,"wires":[]},{"id":"1748c287610e9267","type":"file in","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4040,"y":360,"wires":[["86aff10ce7be3dbc"]]},{"id":"33c836071c854c64","type":"catch","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","scope":["1748c287610e9267"],"uncaught":false,"x":3730,"y":420,"wires":[["cae1f2d7f7603759","c52fab19b4f5c612","f166534d61ef520c"]]},{"id":"8ac4610e45e60c9c","type":"http in","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":3250,"y":360,"wires":[["ba3fd430ab323722","6edba8218016a550"]]},{"id":"7843b48cc1789826","type":"change","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"vp2DateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3710,"y":360,"wires":[["1b2834870f2067e7"]]},{"id":"ba3fd430ab323722","type":"change","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3375,"y":340,"wires":[["f843712114706a68"]],"l":false},{"id":"6edba8218016a550","type":"change","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3375,"y":380,"wires":[["51dec9fa8e4e1aef"]],"l":false},{"id":"f843712114706a68","type":"switch","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3425,"y":340,"wires":[["3fa240606db6b6b6"]],"l":false},{"id":"51dec9fa8e4e1aef","type":"switch","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3425,"y":380,"wires":[["356533beb631b7e1"]],"l":false},{"id":"3fa240606db6b6b6","type":"change","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"vp2macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":340,"wires":[["7843b48cc1789826"]]},{"id":"9238e7c5571f66a9","type":"ui-notification","z":"3ace9f58adf86285","g":"537554d9b436abce","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":4140,"y":400,"wires":[]},{"id":"cae1f2d7f7603759","type":"function","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"error message","func":"var error = \"Error: no such file or directory, open 'log'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3900,"y":400,"wires":[["f7212ac76796a4fb"]]},{"id":"f7212ac76796a4fb","type":"trigger","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":4015,"y":400,"wires":[["9238e7c5571f66a9"]],"l":false},{"id":"356533beb631b7e1","type":"change","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"vp2macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":380,"wires":[["7843b48cc1789826"]]},{"id":"c52fab19b4f5c612","type":"http response","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"Redirecting","statusCode":"302","headers":{"location":"/dashboard/2chVibrationplus"},"x":3890,"y":440,"wires":[]},{"id":"770541e74cce9221","type":"function","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"checkLastFlagType","func":"let chSelection = flow.get(\"vp2chSelection\") || 0; \nlet unit = {}\n\nif(chSelection == false)\n{\n    unit = \n    {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-2ch-vibration:vp2Insp1\",\n                \"ncd-2ch-vibration:vp2Insp2\",\n                \"ncd-2ch-vibration:vp2Insp3\",\n                \"ncd-2ch-vibration:vp2Insp4\",\n                \"ncd-2ch-vibration:vp2Insp5\",\n                \"ncd-2ch-vibration:vp2ODR2\",\n                \"ncd-2ch-vibration:vp2Temperature2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n            ],\n            show: [\n                \"ncd-2ch-vibration:vp2Battery\",\n                \"ncd-2ch-vibration:vp2ODR\",\n                \"ncd-2ch-vibration:vp2Temperature\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n            ],\n            enable : \n            [\n                \"ncd-2ch-vibration:vp2SelectMAC\",\n                \"ncd-2ch-vibration:vp2Download\",\n                \"ncd-2ch-vibration:vp2switch\"\n            ]\n        } \n    }\n}\nif(chSelection == true) \n{\n    unit =\n    {\n        groups:\n        {\n            hide:\n            [\n                \"ncd-2ch-vibration:vp2Insp1\",\n                \"ncd-2ch-vibration:vp2Insp2\",\n                \"ncd-2ch-vibration:vp2Insp3\",\n                \"ncd-2ch-vibration:vp2Insp4\",\n                \"ncd-2ch-vibration:vp2Insp5\",\n                \"ncd-2ch-vibration:vp2ODR\",\n                \"ncd-2ch-vibration:vp2Temperature\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n            ],\n            show: \n            [\n                \"ncd-2ch-vibration:vp2Battery\",\n                \"ncd-2ch-vibration:vp2ODR2\",\n                \"ncd-2ch-vibration:vp2Temperature2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n            ],\n            enable:\n            [\n                \"ncd-2ch-vibration:vp2SelectMAC\",\n                \"ncd-2ch-vibration:vp2Download\",\n                \"ncd-2ch-vibration:vp2switch\"\n            ]\n        }\n    }\n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3970,"y":520,"wires":[["58319e702696099d"]]},{"id":"f166534d61ef520c","type":"trigger","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3835,"y":520,"wires":[["770541e74cce9221"]],"l":false},{"id":"58319e702696099d","type":"link out","z":"3ace9f58adf86285","g":"537554d9b436abce","name":"link out 130","mode":"link","links":["1cfb1296eda9d7c5"],"x":4095,"y":520,"wires":[]},{"id":"4877542d463fb76f","type":"ui-text-input","z":"3ace9f58adf86285","g":"78f60e843c6da6b8","group":"5f2e4d2f7469a51c","name":"vp2DatePicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"vp2DatePicker","x":3660,"y":240,"wires":[["e1389cab111f75cd"]]},{"id":"98812647063dee49","type":"ui-template","z":"3ace9f58adf86285","g":"78f60e843c6da6b8","group":"5f2e4d2f7469a51c","page":"","ui":"","name":"vp2Download","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd-2-ch-vibration-plus.csv\">\n        <v-btn class=\"vp2ButtonDownload\" color=\"#6e53de\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.vp2ButtonDownload {\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4140,"y":240,"wires":[[]]},{"id":"e1389cab111f75cd","type":"change","z":"3ace9f58adf86285","g":"78f60e843c6da6b8","name":"","rules":[{"t":"set","p":"vp2DateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3910,"y":240,"wires":[[]]},{"id":"85d540b8dc931e05","type":"ui-template","z":"3ace9f58adf86285","g":"75f0575e3f3cad5d","group":"","page":"0bf94704d1cb5a6f","ui":"","name":"vp2Style","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #16122b !important;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  25px !important;\n    background-color: #24204b !important;\n    border-color: #24204b  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #24204b !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #24204b !important;\n}\n.vp2InspectGroup .v-card{\n    height: 1077px !important;\n}\n.vp2GroupsCharts .v-card{\n    height: 265px !important;\n}\n.vp2GroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.vp2GroupSelectMac .bg-group-background{\n    background-color: #24204b !important;\n    border-color: #24204b  !important;\n}\n.vp2GroupSelectMac .v-card{\n    height: 92px !important;\n}\n.vp2switch {\n    top: 605px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.vp2switch .bg-group-background{\n    background-color: #6e53de !important;\n    border-color: #6e53de  !important;\n}\n.vp2switch .v-card{\n    height: 92px !important;\n}\n.vp2DatePicker{\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.vp2GroupDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.vp2GroupDownload .bg-group-background{\n    background-color: #24204b !important;\n    border-color: #24204b  !important;\n}\n.vp2GroupDownload .v-card{\n    height: 155px !important;\n}\n.vp2GroupODR .v-card{\n    width: 160px !important;\n    height: 246px !important;\n}\n.vp2TempGauge {\n    top:-76px !important;\n    left: 0px !important;\n}\n.vp2TempGauge .nrdb-ui-gauge-value span {\n    position: relative;\n    top: -3px !important;\n    font-size: 2.0rem !important;\n    line-height: 4.75rem !important;\n}\n.v-card-text .vp2TempGauge{\n    color: white !important;\n    font-size: 0.0rem !important;\n}\n.vp2TempGauge .nrdb-ui-gauge-value label {\n    color: white !important;\n    font-size: 1.75rem;\n    line-height: 0.825rem;\n}\n.vp2TempGauge #backdrop path {\n    fill: #16122b !important;\n}\n.vp2TempGauge .nrdb-ui-gauge-value span {\n  color: #ffffff;\n}\n/*needle color*/\n.nrdb-ui-gauge #needle polygon{\n    fill: #ffffff !important;\n}\n.vp2BatteryChart {\n    position: relative;\n    top: -110px !important;\n}\n.vp2TitlesText .nrdb-ui-text-label{\n    font-weight: bold;\n    position: absolute;\n    top: 10px !important;\n    font-size: 25px !important;\n    color: #ffffff;\n}\n.vp2TempChart {\n    position: relative;\n    left: 5px !important;\n    top: -110px !important;\n    width: 670px;\n}\n.vp2ValueODR .nrdb-ui-text-value{\n    position: relative;\n    top: -18px !important;\n}\n.vp2XAccChart{\n    position: relative;\n    top: -30px !important;\n}\n.vp2GroupTempBatt .v-card{\n    height: 246px !important;\n}\n.vp2ChartsText .nrdb-ui-text-label{\n    position: absolute;\n    font-weight: bold;\n    top: 5px !important;\n    font-size: 15px !important;\n    color: #ffffff;\n}\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":4160,"y":140,"wires":[[]]},{"id":"c3db4d5f0f6c8e8e","type":"ui-template","z":"3ace9f58adf86285","g":"75f0575e3f3cad5d","group":"","page":"0bf94704d1cb5a6f","ui":"","name":"vp2Logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"vp2logo\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.vp2logo {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4020,"y":140,"wires":[[]]},{"id":"704193470499ab86","type":"ui-template","z":"3ace9f58adf86285","g":"75f0575e3f3cad5d","group":"","page":"0bf94704d1cb5a6f","ui":"","name":"vp2ProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/industrial-iot-wireless-vibration-temperature-sensor-v3/\" target=\"_blank\">\n        <v-btn class=\"vp2InfoButton\" color=\"#6e53de\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.vp2InfoButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3860,"y":140,"wires":[[]]},{"id":"aa96cc26d0d302db","type":"junction","z":"3ace9f58adf86285","x":1840,"y":1180,"wires":[["a1077deac362387d"]]},{"id":"2de5c47c979365d5","type":"junction","z":"3ace9f58adf86285","x":690,"y":840,"wires":[["d00caafced633854","3880acdc2512d2aa"]]},{"id":"7053c5796aaaeb82","type":"junction","z":"3ace9f58adf86285","x":470,"y":1080,"wires":[["5f83e8e355b12522"]]},{"id":"537554d9b436abce","type":"group","z":"3ace9f58adf86285","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["1b2834870f2067e7","86aff10ce7be3dbc","1748c287610e9267","33c836071c854c64","8ac4610e45e60c9c","7843b48cc1789826","ba3fd430ab323722","6edba8218016a550","f843712114706a68","51dec9fa8e4e1aef","3fa240606db6b6b6","9238e7c5571f66a9","cae1f2d7f7603759","f7212ac76796a4fb","356533beb631b7e1","c52fab19b4f5c612","770541e74cce9221","f166534d61ef520c","58319e702696099d"],"x":3154,"y":299,"w":1102,"h":262},{"id":"78f60e843c6da6b8","type":"group","z":"3ace9f58adf86285","name":"","style":{"fill":"none","label":true},"nodes":["4877542d463fb76f","98812647063dee49","e1389cab111f75cd"],"x":3554,"y":199,"w":692,"h":82},{"id":"75f0575e3f3cad5d","type":"group","z":"3ace9f58adf86285","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["85d540b8dc931e05","c3db4d5f0f6c8e8e","704193470499ab86"],"x":3754,"y":99,"w":492,"h":82},{"id":"d228058209e83ba3","type":"group","z":"3ace9f58adf86285","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["66ae58bca07c4030","eecd7bfc9b38c052","65da32e67e5b3e11","069bbd6e93587fac","3d25aea54e3e2fb3","68b4bbfff752e6d6","51ce211f90a252a2","13d14e6318867650","1cfb1296eda9d7c5","cc18a8d8e66ae6f6"],"x":2934,"y":79,"w":592,"h":202},{"id":"c7bb6eeb66be51fb","type":"group","z":"3ace9f58adf86285","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["096462f832e2351e","b4586a48b852d77f","85406bd1aed5666e","0c629387d5090789","e1b15ab61b82ff4d","16da7e1f823a2ca8","f78bb9d64806cf11"],"x":2344,"y":299,"w":792,"h":122},{"id":"786028c828cba4d6","type":"group","z":"3ace9f58adf86285","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2491ec59731a4516","08106f586e15cb16","613376582823b0e0","d737dfe2c159f2fa","fab9df080785d8a4","c6ab129b47fe7279","ce1c29ec7578951f","71b6738c83ad74f1","41e7eb4fae8ee40a","82ecceabf93d83fc","e41af7684689aa52","eb394ba7521c7ec3","60f93c14cdf51fca","80dfddbd6bed4868","6793ccc5b548f95b","8cfe2b4d2f3fcde7","96f63f9b01a2c201","6e97e8dfefd9d914","762a2ecf5ae392f1","afa5d006288f309d","4ede5357db880149","56a05c3c3df5eff4","f4c96b181cddd9ca","fd8c099353bc1b27","37ca96264a5a8afc","87da70d4fff95567","796c44c8398853ab","36d2172faaf331f8","35ab9324d6dbde3f","6f9a0ad4756f5349","39c993b2ef2b7608","9cc95c33b3fd8c77","60ef83fd416d615b","33953c52a8b0858d","235dfe55357e41c9","6f9863235b8be361","67622fd25eee5d01","1b856f94b187fcd9","081c9964ff21a063","f8a649fa4a595b34","a955dd5dac324815","7e75203dea5398d1","625812923ff3c5a5","a391d0d2a9a5c154","87baa659ebaeb934","1b128da59a5759aa","c49126d6b2b70dc2","7ef68be2d131afac","1467692efc79e3f9","adbd3df577eb47d0","5904c6a3e9d3b7dc","ba87cbcb4364f9f0","c8904be39891fa8e","4ea47e1aa8d32c8c","50d0236e21be81f6","6c2e4711602d97d2","58264cb8e64ac1d1","0a31301be47e5e45","6cdf332f5db59f48","fe7e4c57e5bdf4b2","c91db83c574740d8","7bbeaf30d9efdc4d","9cb0868353af1c74","eba894b159d6694c","e65dec3422ff4108","379fcc49c103c187","3f1533cd90fc007a","7072acf23e3ca0b7","f3e0e1629b04cb33","586e4810f98bc8f9","feb92a10944bd691","8a43f55fc3ad63a8","b6a2d40bc40eedd3","6f27bf1b28514f4c","0dbc3e8ebeb06259","4374c86198b9d4ac","c21a2de735a56293","d277b93593196ffe","bbd02bd43a9efabf","b6caf0ad08b681e9","421ba0f8a48c71d5","6e35199e28a6c204","ed9b863a3d41d5ad","04b15ce84951f964","f664b34705e62073","008cd54f0cc2bfc8","265b930b4a64d67e","b15de388ef5d2c1b","3b7c42658515143f","a8267e42940fcfec","4c0c7092cd57dce7","7a22c6640e0e5291","65f0d2cd04e3bf39","854377ba493681a4"],"x":2774,"y":579,"w":1492,"h":702},{"id":"7a29e15b3605220e","type":"group","z":"3ace9f58adf86285","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["0a3d3c0be4246b86","51cf16cbadf168e6","040a6686a69efc1b","adb17b43c682c9fb","abbd0b6c4a8be888","ac2ba99ba2f0da1a","7ef8a3aea46443fc","e236f57ece5b5d20","7373a88e2113f78b","55ce15e6d0618563","32d2cfe61d2a29be","7a24a6ac4b624c90","06bd156d82dfcdfb","56252cf4cf29bda4","97281bc8cbacf0f4","3691826122aeb220","fc3896187c65f1f8","d0d795a0e1ca977b","05b8e470968c53cd","15fb5b9a8ed375b8","05433590b93de56d","502f1b7c61b31d9d","7e988d076c31d004","d8594ca2ab90dc3b","13cf84194273d139","1ac906d5af2aeee7","3ba72a427b5ad3fd","a8c53c2c3dfda230","eaad6c4fe256915c","c48341ffaf252572","a8028e6cc6e1288e","e3d6ee9ec1c0f67c","a61d411cd780caf1","97b3a81d20440bcc","e9a2974f03190510","a5790559e29df1a3","b54f935c7d513a22","b60ce660680f149d","519bf6c517072ec9","7a33493f90818178","88d4b47f1ae26c9c","d0c65ad585bd40b5","ea478c08ad6f3f86","97c799522cdd2d1a","12b9a6ee6b8c95bf","757c419988c312b2","6ce9afe58341ad06","0b198495b3cd23bc","55da27d5a77f7cdd","3e5b7bd49981d004","2f46a3bca0680852","6bf24aa491fde3f9","8c2aa89e8ffea9ca","ca485aec8f881408","d145739e5c4f5b4c","af1816a5c5bbe612","4ebb1f86df736445","115eb51b7e084347","99c3300dc54346f2","a04db165c56f0ff2","6056e2540b1e9056","90b5099d1fd881d2","05785cd29e15f277","0d71bd1c94675b0e","530523723302dab3","91a4066687d62e79","65533fb266cf2841","5567c085b7ad0fe6","a407313928b10dc8","0da9158ab8249d3d","421a9533cea105ae","c3c088adfd07ad25","cd97749dd1c9ccb4","980691716bb32d10","449304d8f91646f9","4fcbc072b0c667e4","31ba13c5fbc6e944","1b03ac873f7044ee","83cc6b262e827e18","f2bfecc1db00b4aa","e3fecd9202ab5ce0","325b178502010e27","d59614d5c1328956","2d56a16df2c2104c","c6c34f66b42d8743","36076b949abe6244","384681f72efff474","4d0a4cf17b78605a","78d4d2d44d17bc35","1492780d2ee95bd7","4db3268c861e87aa","8b9d038f3860fa49","48da0261c88d6ecd","d15ae5ed8015446e","f29941c5e7a5e087","d61f481b7a5b5ada","32d3a429b89aa353","b545d3a3f90c8ff3","35f343dbc6c82467","bca58e2eba1cad90","320f00762eed8ffa","8770001cb7dcf41c","6450563c2a27f256","824f5a64a5d81afc","b412d27e75846cb6","85ac6b55f251ee98","95d00738020df222","93a38af58da6b08e","0c912fa837fbad6a","ecae0c556bf6264c","b1a8283f38a4d3f2","c9c04179a7b71751","dfbd1d73952faf1d","2c0889b3a9118e82","87b4e1e63e4a02e5","4f001428c9af378e","43f498e783090669","1efb01fa73ce9ede","e36f73b2583c85ad","849222d76b07bbdc","f72e4879da70c4e2","b8f7cb174c7beef7","a81e0c86e32721a7","60cc38f5c2b4dbf0","1b9e058c8e2a9f81","b444766f4d34c396","5b9a932a734157dc","5cb0bef2b7342cba","e35dc2a0eb56b90d","16164f63d88b6828","62d3d25d0d6fba0c","2385a27b436c97dc","ca7eddcc6ac9b368","4a42335624751cee","68e061f4604d711e","591c9bc376362332","7c21ec45c8871658","95160d5d4b8a3378","39433b49723c8768","5771c02ab8ea44a9","cba4d6a85af63e99","af808164e8eee768","66b8f8e4bf7b7f1b"],"x":2654,"y":1299,"w":1612,"h":1162},{"id":"3e5477a88c0626b3","type":"ui-group","name":"vp2SelectMAC","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":-1,"showTitle":false,"className":"vp2GroupSelectMac","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"07f29f71154dac47","type":"ui-group","name":"vp2Insp1","page":"0bf94704d1cb5a6f","width":"2","height":"1","order":-1,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"6cb2b57789b3272e","type":"ui-group","name":"vp2Insp2","page":"0bf94704d1cb5a6f","width":"2","height":"1","order":-1,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"4786dc859b7c9480","type":"ui-group","name":"vp2Insp5","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"61fb2d3af76ccdf4","type":"ui-group","name":"vp2Temperature","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":-1,"showTitle":false,"className":"vp2GroupTempBatt","visible":"true","disabled":"false"},{"id":"6f7e0646abf46088","type":"ui-group","name":"vp2ODR","page":"0bf94704d1cb5a6f","width":"1","height":"1","order":-1,"showTitle":false,"className":"vp2GroupODR","visible":"true","disabled":"false"},{"id":"3081a990e65acad2","type":"ui-group","name":"vp2ACCGroup_x","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"7889368efe74e777","type":"ui-group","name":"vp2Battery","page":"0bf94704d1cb5a6f","width":"5","height":"1","order":-1,"showTitle":false,"className":"vp2GroupTempBatt","visible":"true","disabled":"false"},{"id":"8b11eca77e123869","type":"ui-group","name":"vp2VelDisplGroup_x","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"607e278978719039","type":"ui-group","name":"vp2OneTwoThreeGroup_x","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"64d372314cdc49f4","type":"ui-group","name":"vp2ACCGroup_y","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"a333ce84aee05ad4","type":"ui-group","name":"vp2VelDisplGroup_y","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"39f674abf7518f1e","type":"ui-group","name":"vp2OneTwoThreeGroup_y","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"2d38d057659ced52","type":"ui-group","name":"vp2ACCGroup_z","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"f187641492957d3f","type":"ui-group","name":"vp2VelDisplGroup_z","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"7f7288fbc8bd5e53","type":"ui-group","name":"vp2OneTwoThreeGroup_z","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"24e8397acc063d71","type":"ui-group","name":"vp2Insp3","page":"0bf94704d1cb5a6f","width":"2","height":"1","order":-1,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"0bf94704d1cb5a6f","type":"ui-page","name":"ncd-2ch-vibration","ui":"ec459411017ddf37","path":"/2chvibration","icon":"mdi-waveform","layout":"grid","theme":"e01eadf35316cb83","order":-1,"className":"","visible":"true","disabled":"false"},{"id":"f82b9b4104bcd042","type":"ui-group","name":"vp2switch","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":-1,"showTitle":false,"className":"vp2switch","visible":"true","disabled":"false"},{"id":"2b5ddfdaeae7aa4f","type":"ui-group","name":"vp2Insp4","page":"0bf94704d1cb5a6f","width":"2","height":"1","order":-1,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"1012cbd171f1374c","type":"ui-group","name":"vp2Temperature2","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":-1,"showTitle":false,"className":"vp2GroupTempBatt","visible":"true","disabled":"false"},{"id":"51fa25ecfc2a35db","type":"ui-group","name":"vp2ODR2","page":"0bf94704d1cb5a6f","width":"1","height":"1","order":-1,"showTitle":false,"className":"vp2GroupODR","visible":"true","disabled":"false"},{"id":"d037ea7958faf54a","type":"ui-group","name":"vp2ACCGroup_x2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"b51f576bdca43dfc","type":"ui-group","name":"vp2VelDisplGroup_x2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"f23d584c29e5e385","type":"ui-group","name":"vp2OneTwoThreeGroup_x2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"4918cda05c89ceb3","type":"ui-group","name":"vp2ACCGroup_y2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"b60e46b738c5deba","type":"ui-group","name":"vp2VelDisplGroup_y2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"a678bbf7c1abbd85","type":"ui-group","name":"vp2OneTwoThreeGroup_y2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"a669ae2b41acdc89","type":"ui-group","name":"vp2ACCGroup_z2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"caf265dc7b00ccc9","type":"ui-group","name":"vp2VelDisplGroup_z2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"8b5b991a2ae853ed","type":"ui-group","name":"vp2OneTwoThreeGroup_z2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":-1,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"5f2e4d2f7469a51c","type":"ui-group","name":"vp2Download","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":-1,"showTitle":false,"className":"vp2GroupDownload","visible":"true","disabled":"false"},{"id":"e01eadf35316cb83","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"3d460f68687f81d8","type":"subflow:3ace9f58adf86285","z":"205a6d2dec2f401a","name":"","x":620,"y":1040,"wires":[]}]
