node-red/ncd-dashboard-2ch-vibration-temp.json
[{"id":"a5ea3b7ee9a1c602","type":"subflow","name":"2 Ch - Vibration","info":"","category":"NCD","in":[{"x":60,"y":900,"wires":[{"id":"03b6ce4c9223972a"}]}],"out":[],"env":[{"name":"Path","type":"str","value":"","ui":{"icon":"font-awesome/fa-folder-open-o","label":{"en-US":"Custom Path"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#3FADB5","icon":"node-red/bridge-dash.svg","status":{"x":1660,"y":820,"wires":[{"id":"ae47e8e6d7315072","port":0},{"id":"423ca3dd9d28b80d","port":0},{"id":"04f19fa15b810a17","port":0}]}},{"id":"9f7bbdcced97a1d2","type":"link out","z":"a5ea3b7ee9a1c602","name":"link out 123","mode":"link","links":["b097c369fdb5c0e5","1335a4bcaa4cd402","158e2ac2edd9f513","f18c72970b0c5086"],"x":2395,"y":1060,"wires":[]},{"id":"17bf02e7e2d951c1","type":"link out","z":"a5ea3b7ee9a1c602","name":"link out 124","mode":"link","links":["1335a4bcaa4cd402","f2c72b5cefaba660","b097c369fdb5c0e5","79fa3d5dcb9c8fd1","44c0c1d9813c8926","42a5d772bf56e0a4","3a8df859b4691aa8","b874809031a1e2aa","06f91d4dfec3ca41","379bc8ab307a4747","a3c284f3f04f50c6","93cb078efbc8f81f","ce69ca8acb5a14ce","e6461625fe1f37c3","158e2ac2edd9f513","f18c72970b0c5086","b38d2668bbd6ed99","1da32b5e4e930473","e8d84798612db086","f0e26820ee692647","0db9cbf82760dff6","2ea8300b5fd2992b","4b3b38f16dbd1d9e","44271dfc1c034626","e10d4817a6645b7c","f6c65d418e41a8b1"],"x":2355,"y":900,"wires":[]},{"id":"76f9c5de8375113d","type":"link out","z":"a5ea3b7ee9a1c602","name":"toGraphs","mode":"link","links":["44c0c1d9813c8926","42a5d772bf56e0a4","3a8df859b4691aa8","b874809031a1e2aa","06f91d4dfec3ca41","379bc8ab307a4747","a3c284f3f04f50c6","93cb078efbc8f81f","ce69ca8acb5a14ce","e6461625fe1f37c3","f2c72b5cefaba660","b38d2668bbd6ed99","1da32b5e4e930473","e8d84798612db086","f0e26820ee692647","0db9cbf82760dff6","2ea8300b5fd2992b","4b3b38f16dbd1d9e","44271dfc1c034626","e10d4817a6645b7c","f6c65d418e41a8b1"],"x":2545,"y":1140,"wires":[]},{"id":"34b982dfba16fbbb","type":"file in","z":"a5ea3b7ee9a1c602","name":"path","filename":"filename","filenameType":"msg","format":"utf8","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":1905,"y":1100,"wires":[["38c83b6bcd387090"]],"l":false},{"id":"38c83b6bcd387090","type":"csv","z":"a5ea3b7ee9a1c602","name":"","sep":",","hdrin":"","hdrout":"none","multi":"mult","ret":"\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":1965,"y":1100,"wires":[["265f631421b456c2"]],"l":false},{"id":"e5b69fdaaecab87a","type":"change","z":"a5ea3b7ee9a1c602","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":920,"wires":[["bd7e6f283c74b151"]]},{"id":"8cfd9f8505b35a42","type":"csv","z":"a5ea3b7ee9a1c602","name":"","sep":",","hdrin":false,"hdrout":"none","multi":"one","ret":"\\n","temp":"battery_percent,counter,sensor_data,sensor_name,addr,received","skip":"0","strings":true,"include_empty_strings":true,"include_null_values":true,"x":1445,"y":880,"wires":[["64ff242cb95f8c91"]],"l":false},{"id":"64ff242cb95f8c91","type":"file","z":"a5ea3b7ee9a1c602","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1495,"y":880,"wires":[["7ddda535326e554b","04f19fa15b810a17"]],"l":false},{"id":"7ddda535326e554b","type":"function","z":"a5ea3b7ee9a1c602","name":"getAndSetMAC","func":"let newMAC = msg.data.addr;\nlet count = context.get(\"vp2countMAC\") || 0;\n\nfor (let index = 0; index < count; index++) {\n    let oldMAC = flow.get(\"vp2MAC[\"+index+\"]\");\n    if(oldMAC == newMAC)\n    {\n        msg.mac_counter = count;\n        msg.newdevice = false;\n        return msg;\n    }\n}\n// if new MAC is arrive\nflow.set(\"vp2MAC[\"+count+\"]\", newMAC);\ncount++;\nmsg.mac_counter = count;\nmsg.newdevice = true; \ncontext.set(\"vp2countMAC\", count);\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1640,"y":900,"wires":[["36d83f831114fcfc","8ecc93f968d1e6b3"]]},{"id":"36d83f831114fcfc","type":"function","z":"a5ea3b7ee9a1c602","name":"getMACOptionsForDropdown","func":"let count = msg.mac_counter;\nlet options = [];\nfor (let index = 0; index < count; index++) {\n    options[index] = flow.get(\"vp2MAC[\"+index+\"]\");\n}\nmsg.options = options;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1880,"y":920,"wires":[["1964b01ccc24d3c7","d2438fe541f56494"]]},{"id":"3e126e9de92796bd","type":"change","z":"a5ea3b7ee9a1c602","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1300,"y":1180,"wires":[["2a70e8087d3d7292"]]},{"id":"d2438fe541f56494","type":"switch","z":"a5ea3b7ee9a1c602","name":"userMACSelection?","property":"data.addr","propertyType":"msg","rules":[{"t":"eq","v":"vp2macSelection","vt":"flow"}],"checkall":"true","repair":false,"outputs":1,"x":2170,"y":920,"wires":[["584e764175a44cd9"]]},{"id":"de0793cbb0fbf82b","type":"change","z":"a5ea3b7ee9a1c602","name":"getData","rules":[{"t":"set","p":"payload.data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":1140,"wires":[["9c9f71bb7f1b4ab8"]]},{"id":"9c9f71bb7f1b4ab8","type":"json","z":"a5ea3b7ee9a1c602","name":"json object","property":"payload.data","action":"","pretty":false,"x":2345,"y":1140,"wires":[["587317c830d08547"]],"l":false},{"id":"587317c830d08547","type":"function","z":"a5ea3b7ee9a1c602","name":"getData","func":"let data = msg.payload.data;\ndata.Timestamp = msg.payload.col6;\ndata.battery = msg.payload.col1;\nmsg = {};\nmsg.payload = [data];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2440,"y":1140,"wires":[["76f9c5de8375113d"]]},{"id":"bd7e6f283c74b151","type":"switch","z":"a5ea3b7ee9a1c602","name":"userPathValid?","property":"userPath","propertyType":"msg","rules":[{"t":"else"},{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":990,"y":920,"wires":[["423ca3dd9d28b80d"],["6290f30b731c3df2"],["cdb0d2f83efb3ec2"]],"outputLabels":["invalid","linuxFomat","winFormat"]},{"id":"6290f30b731c3df2","type":"function","z":"a5ea3b7ee9a1c602","name":"buildFilenameLinux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1240,"y":920,"wires":[["8cfd9f8505b35a42"]]},{"id":"cdb0d2f83efb3ec2","type":"function","z":"a5ea3b7ee9a1c602","name":"buildFilenameWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1260,"y":960,"wires":[["8cfd9f8505b35a42"]]},{"id":"2a70e8087d3d7292","type":"switch","z":"a5ea3b7ee9a1c602","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"cont","v":"/","vt":"str"},{"t":"cont","v":"\\","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1470,"y":1180,"wires":[["55577896c073b7df"],["8b3d7529e867c665"]]},{"id":"55577896c073b7df","type":"function","z":"a5ea3b7ee9a1c602","name":"Linux/MAC","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1660,"y":1160,"wires":[["12c099269fab3c67"]]},{"id":"8b3d7529e867c665","type":"function","z":"a5ea3b7ee9a1c602","name":"windows","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":1200,"wires":[["12c099269fab3c67"]]},{"id":"dccd39cb37956f1d","type":"catch","z":"a5ea3b7ee9a1c602","name":"","scope":["64ff242cb95f8c91","34b982dfba16fbbb"],"uncaught":false,"x":1505,"y":800,"wires":[["423ca3dd9d28b80d"]],"l":false},{"id":"423ca3dd9d28b80d","type":"function","z":"a5ea3b7ee9a1c602","name":"function 54","func":"msg.payload = ({fill: \"red\",text:\"Path error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1575,"y":820,"wires":[[]],"l":false},{"id":"04f19fa15b810a17","type":"function","z":"a5ea3b7ee9a1c602","name":"function 55","func":"msg.payload = ({fill: \"green\",text:\"Saving data\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1575,"y":860,"wires":[[]],"l":false},{"id":"23185077cdb12c36","type":"switch","z":"a5ea3b7ee9a1c602","name":"user/defalutPath?","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":true,"outputs":2,"x":560,"y":880,"wires":[["8a85a0c40edb6753"],["e5b69fdaaecab87a"]],"outputLabels":["defaultPath","userPath"]},{"id":"54555a21f2e591cd","type":"change","z":"a5ea3b7ee9a1c602","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":820,"wires":[["77ad202e7e69d29f"]]},{"id":"94b7eca5801f428a","type":"change","z":"a5ea3b7ee9a1c602","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":770,"y":860,"wires":[["24c2ebc95d0ec439"]]},{"id":"24c2ebc95d0ec439","type":"switch","z":"a5ea3b7ee9a1c602","name":"Win","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":860,"wires":[["afd6bded3a7da9f2"]]},{"id":"77ad202e7e69d29f","type":"switch","z":"a5ea3b7ee9a1c602","name":"Lin","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":900,"y":820,"wires":[["adb5e3370fce9d2b"]]},{"id":"164031c6e6f22ba5","type":"change","z":"a5ea3b7ee9a1c602","name":"get/savePath","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":880,"wires":[["23185077cdb12c36"]]},{"id":"adb5e3370fce9d2b","type":"change","z":"a5ea3b7ee9a1c602","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":820,"wires":[["6297374c33e03eca"]]},{"id":"81aff35e976f3ccb","type":"function","z":"a5ea3b7ee9a1c602","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":860,"wires":[["8cfd9f8505b35a42"]]},{"id":"6297374c33e03eca","type":"function","z":"a5ea3b7ee9a1c602","name":"buldLocalPath","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nlet sensor_data = msg.payload;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\n//-------------\nmsg.payload = {};\nmsg.payload.sensor_data = sensor_data;\nmsg.payload.battery_percent = msg.data.battery_percent\nmsg.payload.counter = msg.data.counter;\nmsg.payload.sensor_name = msg.data.sensor_name;\nmsg.payload.addr = msg.data.addr;\nmsg.payload.received = msg.data.received;\n//-----------------\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1270,"y":820,"wires":[["8cfd9f8505b35a42"]]},{"id":"afd6bded3a7da9f2","type":"change","z":"a5ea3b7ee9a1c602","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(data.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"$moment(data.received).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":860,"wires":[["81aff35e976f3ccb"]]},{"id":"6a52215dc0cbc0f9","type":"switch","z":"a5ea3b7ee9a1c602","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":1110,"y":1100,"wires":[["d54edb22f0ba296e","3632d8446e6198d3"],["3e126e9de92796bd"]]},{"id":"194c53667c70a927","type":"change","z":"a5ea3b7ee9a1c602","name":"","rules":[{"t":"set","p":"userPath","pt":"msg","to":"Path","tot":"env"},{"t":"set","p":"vp2macSelection","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":1100,"wires":[["6a52215dc0cbc0f9"]]},{"id":"3632d8446e6198d3","type":"change","z":"a5ea3b7ee9a1c602","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1040,"wires":[["2a41749eeeb088ef"]]},{"id":"d54edb22f0ba296e","type":"change","z":"a5ea3b7ee9a1c602","name":"path Win","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":1280,"y":1100,"wires":[["58f36d4995ba35c5"]]},{"id":"58f36d4995ba35c5","type":"switch","z":"a5ea3b7ee9a1c602","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":1100,"wires":[["bacf5b2f0f2a894e"]]},{"id":"2a41749eeeb088ef","type":"switch","z":"a5ea3b7ee9a1c602","name":"","property":"userPath","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":1410,"y":1040,"wires":[["f6635c2a19666f97"]]},{"id":"dc6f9117b38a9532","type":"function","z":"a5ea3b7ee9a1c602","name":"buildPathWin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"\\\\.node-red\\\\log\\\\\" + addr + \"\\\\\" + date + \".csv\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1100,"wires":[["34b982dfba16fbbb"]]},{"id":"95e0992ac167a14f","type":"function","z":"a5ea3b7ee9a1c602","name":"buildPathLin","func":"let addr = msg.addr;\nlet date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/log/\" + addr + \"/\" + date + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1770,"y":1040,"wires":[["34b982dfba16fbbb"]]},{"id":"f6635c2a19666f97","type":"change","z":"a5ea3b7ee9a1c602","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":1040,"wires":[["95e0992ac167a14f"]]},{"id":"bacf5b2f0f2a894e","type":"change","z":"a5ea3b7ee9a1c602","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"date","pt":"msg","to":"","tot":"date"},{"t":"set","p":"date","pt":"msg","to":"$moment(date).format(\"YYYY-MM-DD\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1580,"y":1100,"wires":[["dc6f9117b38a9532"]]},{"id":"265f631421b456c2","type":"function","z":"a5ea3b7ee9a1c602","name":"last(n)Items","func":"const x = msg.payload.slice(-20);\nconst array = msg.payload;\n\nfor (let index = 0; index < 20; index++) {\n    msg.payload = x[index];\n    node.send([[null], [msg]]); \n}\nmsg.payload = array[array.length - 1];\nreturn [msg, null];\n","outputs":2,"timeout":"0","noerr":0,"initialize":"","finalize":"","libs":[],"x":2080,"y":1100,"wires":[["ef2bb918a92142ea","02567f314ad6463a"],["de0793cbb0fbf82b"]]},{"id":"857637cb428c21e9","type":"catch","z":"a5ea3b7ee9a1c602","name":"","scope":["9c9f71bb7f1b4ab8"],"uncaught":false,"x":2320,"y":860,"wires":[[]]},{"id":"584e764175a44cd9","type":"function","z":"a5ea3b7ee9a1c602","name":"function 56","func":"let inspect = flow.get(\"vpInspect\") || false;\nlet data = msg.data.sensor_data;\ndata.Timestamp = msg.data.received;\ndata.battery = Number(msg.data.battery_percent);\nmsg.payload = [data];\nif(inspect){\n    return [msg, msg];\n}\nreturn [msg, null];\n\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2305,"y":920,"wires":[["17bf02e7e2d951c1"],["31b85d3c1ec178e0"]],"l":false},{"id":"ef2bb918a92142ea","type":"change","z":"a5ea3b7ee9a1c602","name":"getData","rules":[{"t":"set","p":"data.sensor_data","pt":"msg","to":"payload.col3","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2250,"y":1060,"wires":[["26345eeec4caabb8"]]},{"id":"02567f314ad6463a","type":"change","z":"a5ea3b7ee9a1c602","name":"getBattery","rules":[{"t":"set","p":"data.battery_percent","pt":"msg","to":"payload.col1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2260,"y":1100,"wires":[["a6b9b2d24fd8d916"]]},{"id":"26345eeec4caabb8","type":"json","z":"a5ea3b7ee9a1c602","name":"json object","property":"data.sensor_data","action":"","pretty":false,"x":2345,"y":1060,"wires":[["9f7bbdcced97a1d2"]],"l":false},{"id":"03b6ce4c9223972a","type":"switch","z":"a5ea3b7ee9a1c602","name":"filterByValidType","property":"data.sensor_type","propertyType":"msg","rules":[{"t":"eq","v":"81","vt":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":210,"y":900,"wires":[["164031c6e6f22ba5"],["64d3380b8d757fb0"]]},{"id":"64d3380b8d757fb0","type":"function","z":"a5ea3b7ee9a1c602","name":"typeErrorStatus","func":"msg.payload = ({fill: \"red\",text:\"Type error\"});\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":920,"wires":[["0959d3397173c3c4"]]},{"id":"0959d3397173c3c4","type":"link out","z":"a5ea3b7ee9a1c602","name":"link out 125","mode":"link","links":["ae47e8e6d7315072"],"x":515,"y":920,"wires":[]},{"id":"ae47e8e6d7315072","type":"link in","z":"a5ea3b7ee9a1c602","name":"link in 180","links":["0959d3397173c3c4"],"x":1575,"y":780,"wires":[[]]},{"id":"80820e789680a79e","type":"link in","z":"a5ea3b7ee9a1c602","name":"link in 181","links":["67b0e78c4e369f00"],"x":495,"y":1120,"wires":[["cb0f086425ddb200"]]},{"id":"08cc8b14cd7dcb43","type":"change","z":"a5ea3b7ee9a1c602","name":"clear inspect","rules":[{"t":"set","p":"data","pt":"msg","to":"{\"nodeId\":\"-\",\"firmware\":\"-\",\"battery\":\"-\",\"battery_percent\":\"-\",\"counter\":\"-\",\"sensor_type\":\"-\",\"sensor_data\":{\"c1_raw_adc\":\"-\",\"c1_ma\":\"-\",\"c1_db\":\"-\",\"c2_raw_adc\":\"-\",\"c2_ma\":\"-\",\"c2_db\":\"-\"},\"sensor_name\":\"-\",\"addr\":\"--:--:--:--:--:--:--:--\",\"received\":\"-\",\"original\":{\"mac\":\"--:--:--:--:--:--:--:--\",\"receive_options\":{\"ack\":\"-\",\"broadcast\":\"-\",\"type\":\"\"}},\"modem_mac\":\"--:--:--:--:--:--:--:--\"}","tot":"json"},{"t":"set","p":"topic","pt":"msg","to":"-","tot":"str"},{"t":"set","p":"lastReceived","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":895,"y":1140,"wires":[["8d40a16f5bd9e80e"]],"l":false},{"id":"8d40a16f5bd9e80e","type":"link out","z":"a5ea3b7ee9a1c602","name":"link out 126","mode":"link","links":["bcb479bc43f4ccc8","2fa907a135ae9c42","fd4a3e6c453cafc3","65a635112db11678","d3c22a92ba868f9c","0c3d7599c90d25e3","ed28e126f09be3f2"],"x":945,"y":1140,"wires":[]},{"id":"10c9e341737018a8","type":"function","z":"a5ea3b7ee9a1c602","name":"inspectCheck","func":"var actualMAC = msg.payload;\nvar lastMAC = context.get(\"lastMAC\") || false;\n\nif (actualMAC != lastMAC)\n{\n    context.set(\"lastMAC\", actualMAC);\n    return msg;\n}\n\n\n\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":750,"y":1100,"wires":[["08cc8b14cd7dcb43","194c53667c70a927"]]},{"id":"a6b9b2d24fd8d916","type":"link out","z":"a5ea3b7ee9a1c602","name":"link out 127","mode":"link","links":["79fa3d5dcb9c8fd1"],"x":2365,"y":1100,"wires":[]},{"id":"96382812f8a15b2a","type":"change","z":"a5ea3b7ee9a1c602","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"A new ncd sensor with MAC (\"&(data.addr)&\") has been connected! You can select it from MAC Dropdown\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1815,"y":880,"wires":[["50a2b1d7b691e389"]],"l":false},{"id":"cb0f086425ddb200","type":"ui-dropdown","z":"a5ea3b7ee9a1c602","group":"3e5477a88c0626b3","name":"","label":"MAC","tooltip":"","order":1,"width":"0","height":"0","passthru":false,"multiple":false,"options":[{"label":"","value":"","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":600,"y":1100,"wires":[["10c9e341737018a8"]]},{"id":"50a2b1d7b691e389","type":"ui-notification","z":"a5ea3b7ee9a1c602","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#1a253f","displayTime":"5","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"NewDevice","x":1920,"y":880,"wires":[]},{"id":"42399c0b511434c2","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.nodeId","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1420,"wires":[["8a4e55167826d637"]],"l":false},{"id":"fd4a3e6c453cafc3","type":"link in","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"link in 182","links":["8d40a16f5bd9e80e","31b85d3c1ec178e0"],"x":2695,"y":1600,"wires":[["42399c0b511434c2","9f773753ec721b19","92489476c4fbbddf","5cbfb1fb8318f9f3","5af84a3be5714441","bc6109304d4cb786","4c40c88c25f60e1f","10af4e8a206527aa","4eb04e7f4d84dbdf","10fe4ad094e48584"]]},{"id":"9f773753ec721b19","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.firmware","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1460,"wires":[["dafe682bfc58b8de"]],"l":false},{"id":"92489476c4fbbddf","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1500,"wires":[["21465e365c549a63"]],"l":false},{"id":"5cbfb1fb8318f9f3","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1540,"wires":[["23809b3257f1b7dc"]],"l":false},{"id":"5af84a3be5714441","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.counter","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1580,"wires":[["1bd3e1f098c95fcc"]],"l":false},{"id":"bc6109304d4cb786","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1620,"wires":[["2b312f6c518e172f"]],"l":false},{"id":"4c40c88c25f60e1f","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_name","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1660,"wires":[["4278f54236b8f8e5"]],"l":false},{"id":"10af4e8a206527aa","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1700,"wires":[["b9690adb528d4ed7"]],"l":false},{"id":"4eb04e7f4d84dbdf","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.addr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1740,"wires":[["7b79afaef4cd38a4"]],"l":false},{"id":"10fe4ad094e48584","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.received","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":2785,"y":1780,"wires":[["7b4cfca87a4ee1be"]],"l":false},{"id":"2fa907a135ae9c42","type":"link in","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"link in 183","links":["8d40a16f5bd9e80e","31b85d3c1ec178e0"],"x":3055,"y":2060,"wires":[["4b453131e141f8e0","eeb0908005611fa6","a6dc8d35b89c03c5","12eb54bb46be33a7","205196f79967cefd","a68879af01f88ab4","7ff194d0a1b7b230","7d885395bb8b3c5c","c524f72fc7fc3211","350a7f8fe17aa8ac","fa6320cfa17cf522","ed359192c108664e","ffc2494dbfd7498a","2e2114607b93e893"]]},{"id":"c20a1d5cca9c09f0","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1420,"wires":[["6e59850e3af74dbe"]],"l":false},{"id":"4bb0f4f4506ce4e2","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.ack","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1500,"wires":[["d5019cac774da388"]],"l":false},{"id":"0524e9a8b657cd1c","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.original.receive_options.broadcast","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1540,"wires":[["e1898f04ce9a174c"]],"l":false},{"id":"9e9d5f3784899c58","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.type","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1580,"wires":[["b1196a5af1dcde9a"]],"l":false},{"id":"a326f4b438ffdd48","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.modem_mac","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1620,"wires":[["c20c1a3d2bde6c6e"]],"l":false},{"id":"0137a0781dbd59c0","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"topic","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3985,"y":1660,"wires":[["864694cc220f30f0"]],"l":false},{"id":"9b8d2ee2f54364ed","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$moment().format('MMMM Do YYYY, h:mm:ss a')","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1760,"wires":[["24c631c339432c7b"]],"l":false},{"id":"bcb479bc43f4ccc8","type":"link in","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"link in 184","links":["8d40a16f5bd9e80e","31b85d3c1ec178e0"],"x":3895,"y":1620,"wires":[["c20a1d5cca9c09f0","4bb0f4f4506ce4e2","0524e9a8b657cd1c","9e9d5f3784899c58","a326f4b438ffdd48","0137a0781dbd59c0","7523689fc49638ab"]]},{"id":"7523689fc49638ab","type":"switch","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","property":"lastReceived","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":3955,"y":1740,"wires":[["93abeb782d08fa5b"],["9b8d2ee2f54364ed"]],"l":false},{"id":"93abeb782d08fa5b","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"waiting for messages","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":4005,"y":1720,"wires":[["24c631c339432c7b"]],"l":false},{"id":"8a4e55167826d637","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":2,"width":"0","height":"0","name":"Node ID","label":"Node ID","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1420,"wires":[]},{"id":"dafe682bfc58b8de","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":3,"width":"0","height":"0","name":"Firmware version","label":"Firmware version:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2910,"y":1460,"wires":[]},{"id":"21465e365c549a63","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":4,"width":"0","height":"0","name":"Battery V","label":"Battery (V):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1500,"wires":[]},{"id":"23809b3257f1b7dc","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":5,"width":"0","height":"0","name":"Battery Level","label":"Battery Level (%):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1540,"wires":[]},{"id":"1bd3e1f098c95fcc","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":6,"width":"0","height":"0","name":"Counter","label":"Counter:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1580,"wires":[]},{"id":"2b312f6c518e172f","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":7,"width":"0","height":"0","name":"Sensor type","label":"Sensor Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2890,"y":1620,"wires":[]},{"id":"4278f54236b8f8e5","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":8,"width":"0","height":"0","name":"Sensor Name","label":"Sensor Name:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2900,"y":1660,"wires":[]},{"id":"b9690adb528d4ed7","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":9,"width":"0","height":"0","name":"Type","label":"Type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2870,"y":1700,"wires":[]},{"id":"7b79afaef4cd38a4","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":10,"width":"0","height":"0","name":"Address","label":"Address","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1740,"wires":[]},{"id":"7b4cfca87a4ee1be","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":11,"width":"0","height":"0","name":"Receive","label":"Received:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":2880,"y":1780,"wires":[]},{"id":"c32ac99298befc90","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"07f29f71154dac47","order":1,"width":"0","height":"0","name":"DATA","label":"DATA","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":2870,"y":1380,"wires":[]},{"id":"9319b1d8e0e39882","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":1,"width":"0","height":"0","name":"SENSOR DATA (payload)","label":"SENSOR DATA - CH1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3250,"y":1380,"wires":[]},{"id":"3f5b6076b3234ba5","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":1,"width":"0","height":"0","name":"ORIGINAL","label":"ORIGINAL","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4090,"y":1380,"wires":[]},{"id":"6e59850e3af74dbe","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":2,"width":"0","height":"0","name":"MAC","label":"MAC:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1420,"wires":[]},{"id":"71b4e64f7362fc4a","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":4,"width":"0","height":"0","name":"RECEIVE OPTIONS","label":"RECEIVE OPTIONS","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4120,"y":1460,"wires":[]},{"id":"d5019cac774da388","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":3,"width":"0","height":"0","name":"ack","label":"ack:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1500,"wires":[]},{"id":"e1898f04ce9a174c","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":5,"width":"0","height":"0","name":"broadcast","label":"broadcast:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4080,"y":1540,"wires":[]},{"id":"b1196a5af1dcde9a","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":6,"width":"0","height":"0","name":"type","label":"type:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1580,"wires":[]},{"id":"c20c1a3d2bde6c6e","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":7,"width":"0","height":"0","name":"modem mac","label":"modem mac:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4090,"y":1620,"wires":[]},{"id":"864694cc220f30f0","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":8,"width":"0","height":"0","name":"topic","label":"topic:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":4070,"y":1660,"wires":[]},{"id":"24c631c339432c7b","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":10,"width":"0","height":"0","name":"last received message","label":"Last received message at:","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4140,"y":1760,"wires":[]},{"id":"1ebb47da66ab6961","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"4786dc859b7c9480","order":9,"width":"0","height":"0","name":"dummy","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":4100,"y":1720,"wires":[]},{"id":"b097c369fdb5c0e5","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 185","links":["17bf02e7e2d951c1","9f7bbdcced97a1d2"],"x":3205,"y":900,"wires":[["3ea58bb76eee4ce7"]]},{"id":"f0d7d6b82a5f972d","type":"change","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.battery_percent","tot":"msg"},{"t":"set","p":"scale","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3975,"y":780,"wires":[["6483cfa6ad62dbbe"]],"l":false},{"id":"6483cfa6ad62dbbe","type":"range","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","minin":"0","maxin":"100","minout":"0","maxout":"100","action":"scale","round":true,"property":"payload","name":"","x":4015,"y":740,"wires":[["353ebe1c35b13b7f"]],"l":false},{"id":"79fa3d5dcb9c8fd1","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 186","links":["a6b9b2d24fd8d916","17bf02e7e2d951c1"],"x":3925,"y":780,"wires":[["f0d7d6b82a5f972d"]]},{"id":"acaabd7dd45c158d","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"61fb2d3af76ccdf4","order":1,"width":"0","height":"0","name":"","label":"Temperature Channel - 1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":3370,"y":860,"wires":[]},{"id":"b095c260590c3f7f","type":"ui-gauge","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"vpTempGauge","group":"61fb2d3af76ccdf4","order":3,"width":"2","height":"4","gtype":"gauge-34","gstyle":"needle","title":"","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"90","color":"#5cd65c"},{"from":"100","color":"#5cd65c"}],"min":0,"max":"100","sizeThickness":"40","sizeGap":"0","sizeKeyThickness":"0","styleRounded":true,"styleGlow":false,"className":"vp2TempGauge","x":3400,"y":940,"wires":[]},{"id":"6febb0272dfbe70b","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"61fb2d3af76ccdf4","page":"","ui":"","name":"vp2Line","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"vp2Line\"></div>\n</template>\n<style>\n.vp2Line{\n  position: relative;\n  border-left: 2000px solid white ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: -34px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3420,"y":900,"wires":[[]]},{"id":"4a3489eaf2d4f4b1","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"6f7e0646abf46088","order":1,"width":"1","height":"1","name":"","label":"ODR 1","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":3110,"y":880,"wires":[]},{"id":"e84d54d1b611de45","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"3081a990e65acad2","order":2,"width":"4","height":"1","name":"","label":"X1 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":2910,"y":1040,"wires":[]},{"id":"b08585d1e75c3e3d","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"7889368efe74e777","name":"vp2BatteryChart","label":"","order":4,"chartType":"line","category":"[\"battery\",\"\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"[0].battery","ymin":"5","ymax":"100","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#36d2f8","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vp2BatteryChart","x":4160,"y":700,"wires":[[]]},{"id":"353ebe1c35b13b7f","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"7889368efe74e777","page":"","ui":"","name":"vp2BatteryPercent","order":3,"width":"1","height":"4","head":"","format":"<template>\n    <v-progress-circular class=\"vp2Circular\" :rotate=\"180\" bg-color=\"#053a66\" model-value=\"20\" :size=\"180\" :width=\"5\" color=\"#36d2f8\" v-model=\"value\">\n        <div class=\"text-center\">\n            <div>\n                <v-icon size=\"larger\" color=\"white\" icon=\"mdi-battery-medium\"></v-icon>\n                <br>\n            </div>\n            <div class=\"vp2Scale\">\n                {{ msg.scale }}%\n                <br>\n                <!-- <br> -->\n            </div>\n        </div>\n    </v-progress-circular>\n</template>\n<style>\n.vp2Circular{\n    font-size: 30px;\n    font-weight: bold !important;\n    top: -76px !important;\n    left: 0px !important;\n}\n.vp2Scale{\n    color: #ffffff;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4150,"y":740,"wires":[[]]},{"id":"3ea58bb76eee4ce7","type":"change","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s1_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3255,"y":900,"wires":[["b095c260590c3f7f"]],"l":false},{"id":"b5b4bedc9e37818b","type":"change","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s1_odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3005,"y":940,"wires":[["4688e9e7a492f4f6"]],"l":false},{"id":"1335a4bcaa4cd402","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 187","links":["17bf02e7e2d951c1","9f7bbdcced97a1d2"],"x":2955,"y":940,"wires":[["b5b4bedc9e37818b"]]},{"id":"d3c22a92ba868f9c","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 188","links":["8d40a16f5bd9e80e"],"x":3925,"y":620,"wires":[["206df8b11ba69bc4"]]},{"id":"206df8b11ba69bc4","type":"change","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3975,"y":620,"wires":[["0dab613f71b85212","b08585d1e75c3e3d","353ebe1c35b13b7f"]],"l":false},{"id":"f2c72b5cefaba660","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 189","links":["17bf02e7e2d951c1","76f9c5de8375113d"],"x":3925,"y":660,"wires":[["b08585d1e75c3e3d"]]},{"id":"6c014b8f6b79593f","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 190","links":["67b0e78c4e369f00","0dab613f71b85212"],"x":3255,"y":940,"wires":[["b095c260590c3f7f","75286c30739a7a9f"]]},{"id":"3cbc0fa3b5787fb4","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 191","links":["67b0e78c4e369f00","0dab613f71b85212"],"x":2955,"y":980,"wires":[["4688e9e7a492f4f6"]]},{"id":"d8de1ebbe9a18f5f","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 192","links":["67b0e78c4e369f00"],"x":3925,"y":740,"wires":[["6483cfa6ad62dbbe","b08585d1e75c3e3d"]]},{"id":"75286c30739a7a9f","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"61fb2d3af76ccdf4","name":"vp2TempChart","label":"","order":4,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"s1_temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#5cd65c","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vp2TempChart","x":3400,"y":980,"wires":[[]]},{"id":"4688e9e7a492f4f6","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"6f7e0646abf46088","order":3,"width":"0","height":"0","name":"ODR 1","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"32","color":"#ffffff","className":"vp2ValueODR","x":3110,"y":980,"wires":[]},{"id":"e6162859fa52c0dc","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"6f7e0646abf46088","page":"","ui":"","name":"vp2Line","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"lineVP2\"></div>\n</template>\n<style>\n.lineVP2{\n  position: absolute;\n  border-left: 200px solid white ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: 40px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3100,"y":920,"wires":[[]]},{"id":"a18b16bacc45c069","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"3081a990e65acad2","name":"vpX-ACC","label":"","order":1,"chartType":"line","category":"[\"x1_rms_ACC_G\",\"x1_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":2910,"y":1080,"wires":[[]]},{"id":"2c3233df8a1dfe95","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"7889368efe74e777","page":"","ui":"","name":"vp2Line","order":2,"width":"5","height":"1","head":"","format":"<template>\n    <div class=\"vp2Line\"></div>\n</template>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4180,"y":660,"wires":[[]]},{"id":"5ac92cbc8ed79358","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"7889368efe74e777","order":1,"width":"5","height":"1","name":"vp2 Battery Text","label":"Battery Percent","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":4160,"y":620,"wires":[]},{"id":"a221f068e0ef712c","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"8b11eca77e123869","order":2,"width":"4","height":"1","name":"","label":"X1 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3160,"y":1040,"wires":[]},{"id":"4393275c0db7b7d6","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"8b11eca77e123869","name":"vpX-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"x1_velocity_mm_sec\",\"x1_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3170,"y":1080,"wires":[[]]},{"id":"69a38605f6386c21","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"607e278978719039","order":2,"width":"2","height":"1","name":"X1 - Peak (Hz)","label":"X1 Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3400,"y":1040,"wires":[]},{"id":"7c410b674312d8c7","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"607e278978719039","name":"vpX-Peak","label":"","order":1,"chartType":"line","category":"[\"x1_peak_one_Hz\",\"x1_peak_two_Hz\",\"x1_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3420,"y":1080,"wires":[[]]},{"id":"988d3f846e4164d5","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"64d372314cdc49f4","order":2,"width":"4","height":"1","name":"","label":"Y1 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":2910,"y":1120,"wires":[]},{"id":"8fc86867d205dd1e","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"64d372314cdc49f4","name":"vpY-ACC","label":"","order":1,"chartType":"line","category":"[\"y1_rms_ACC_G\",\"y1_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":2910,"y":1160,"wires":[[]]},{"id":"9763c356729cfdde","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"a333ce84aee05ad4","order":2,"width":"4","height":"1","name":"","label":"Y1 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3160,"y":1120,"wires":[]},{"id":"9898b0e4b5135684","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"a333ce84aee05ad4","name":"vpY-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"y1_velocity_mm_sec\",\"y1_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3170,"y":1160,"wires":[[]]},{"id":"b078fa7f5c652667","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"39f674abf7518f1e","order":2,"width":"4","height":"1","name":"Y1 - Peak (Hz)","label":"Y1 - Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3400,"y":1120,"wires":[]},{"id":"ee75d150c51814ce","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"39f674abf7518f1e","name":"vpY-Peak","label":"","order":1,"chartType":"line","category":"[\"y1_peak_one_Hz\",\"y1_peak_two_Hz\",\"y1_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3420,"y":1160,"wires":[[]]},{"id":"bd2096664ee39946","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"2d38d057659ced52","order":2,"width":"4","height":"1","name":"","label":"Z1 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":2910,"y":1200,"wires":[]},{"id":"91482350de241ad4","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"2d38d057659ced52","name":"vpZ-ACC","label":"","order":1,"chartType":"line","category":"[\"z1_rms_ACC_G\",\"z1_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":2910,"y":1240,"wires":[[]]},{"id":"aac6b9d77a1f3fcb","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"f187641492957d3f","order":2,"width":"4","height":"1","name":"","label":"Z1 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3160,"y":1200,"wires":[]},{"id":"87ed019d81849b3b","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"f187641492957d3f","name":"vpZ-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"z1_velocity_mm_sec\",\"z1_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3170,"y":1240,"wires":[[]]},{"id":"3b25e4c6fd26d314","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"7f7288fbc8bd5e53","order":2,"width":"4","height":"1","name":"Z1 - Peak (Hz)","label":"Z1 - Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3400,"y":1200,"wires":[]},{"id":"9576353b927d2a38","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"7f7288fbc8bd5e53","name":"vpZ-Peak","label":"","order":1,"chartType":"line","category":"[\"z1_peak_one_Hz\",\"z1_peak_two_Hz\",\"z1_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3420,"y":1240,"wires":[[]]},{"id":"44c0c1d9813c8926","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 193","links":["17bf02e7e2d951c1","76f9c5de8375113d"],"x":3255,"y":980,"wires":[["75286c30739a7a9f"]]},{"id":"3a8df859b4691aa8","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 194","links":["67b0e78c4e369f00","0dab613f71b85212","76f9c5de8375113d","17bf02e7e2d951c1"],"x":2815,"y":1080,"wires":[["a18b16bacc45c069"]]},{"id":"42a5d772bf56e0a4","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 195","links":["67b0e78c4e369f00","0dab613f71b85212","17bf02e7e2d951c1","76f9c5de8375113d"],"x":2815,"y":1160,"wires":[["8fc86867d205dd1e"]]},{"id":"b874809031a1e2aa","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 196","links":["67b0e78c4e369f00","0dab613f71b85212","17bf02e7e2d951c1","76f9c5de8375113d"],"x":2815,"y":1240,"wires":[["91482350de241ad4"]]},{"id":"06f91d4dfec3ca41","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 197","links":["67b0e78c4e369f00","0dab613f71b85212","17bf02e7e2d951c1","76f9c5de8375113d"],"x":3055,"y":1080,"wires":[["4393275c0db7b7d6"]]},{"id":"379bc8ab307a4747","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 198","links":["67b0e78c4e369f00","0dab613f71b85212","17bf02e7e2d951c1","76f9c5de8375113d"],"x":3055,"y":1160,"wires":[["9898b0e4b5135684"]]},{"id":"a3c284f3f04f50c6","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 199","links":["67b0e78c4e369f00","0dab613f71b85212","76f9c5de8375113d","17bf02e7e2d951c1"],"x":3055,"y":1240,"wires":[["87ed019d81849b3b"]]},{"id":"93cb078efbc8f81f","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 200","links":["67b0e78c4e369f00","0dab613f71b85212","17bf02e7e2d951c1","76f9c5de8375113d"],"x":3315,"y":1080,"wires":[["7c410b674312d8c7"]]},{"id":"ce69ca8acb5a14ce","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 201","links":["67b0e78c4e369f00","0dab613f71b85212","17bf02e7e2d951c1","76f9c5de8375113d"],"x":3315,"y":1160,"wires":[["ee75d150c51814ce"]]},{"id":"e6461625fe1f37c3","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 202","links":["67b0e78c4e369f00","0dab613f71b85212","17bf02e7e2d951c1","76f9c5de8375113d"],"x":3315,"y":1240,"wires":[["9576353b927d2a38"]]},{"id":"4b453131e141f8e0","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1820,"wires":[["10acdfcc7c94a099"]],"l":false},{"id":"10acdfcc7c94a099","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":12,"width":"0","height":"0","name":"y-rms-ACC-G","label":"y-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":1820,"wires":[]},{"id":"eeb0908005611fa6","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1860,"wires":[["30f2823d20aafa34"]],"l":false},{"id":"30f2823d20aafa34","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":13,"width":"0","height":"0","name":"y-max-ACC-G","label":"y-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":1860,"wires":[]},{"id":"5e585bca25e27b0f","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":14,"width":"0","height":"0","name":"y-Velocity-mm-sec","label":"y-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1900,"wires":[]},{"id":"a6dc8d35b89c03c5","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1900,"wires":[["5e585bca25e27b0f"]],"l":false},{"id":"d01b8edba9539fd6","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":15,"width":"0","height":"0","name":"y-Displacement-mm-sec","label":"y-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3290,"y":1940,"wires":[]},{"id":"12eb54bb46be33a7","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1940,"wires":[["d01b8edba9539fd6"]],"l":false},{"id":"560b510dda1b337c","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":16,"width":"0","height":"0","name":"y-Peak-One (Hz)","label":"y-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1980,"wires":[]},{"id":"205196f79967cefd","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1980,"wires":[["560b510dda1b337c"]],"l":false},{"id":"cd9b9df95a39b831","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":17,"width":"0","height":"0","name":"y-Peak-Two (Hz)","label":"y-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2020,"wires":[]},{"id":"a68879af01f88ab4","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2020,"wires":[["cd9b9df95a39b831"]],"l":false},{"id":"a56d91f86e796ec1","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":18,"width":"0","height":"0","name":"y-Peak-Three (Hz)","label":"y-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2060,"wires":[]},{"id":"7ff194d0a1b7b230","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y1_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2060,"wires":[["a56d91f86e796ec1"]],"l":false},{"id":"65a635112db11678","type":"link in","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"link in 203","links":["8d40a16f5bd9e80e","31b85d3c1ec178e0"],"x":3045,"y":1600,"wires":[["d497fca8cf72aae0","59cbf5c7d0f1fb39","55bf27c1259d861b","b9e9611e289a3a29","eb90fbfa95b98c91","86696f394fb072e6","e8caa3a75ca37868","0b92dea9fc8998ee","603f7a7767a53862","019b8e4a83e523c7"]]},{"id":"d497fca8cf72aae0","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.mode","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1420,"wires":[["a91d44c876d36b6e"]],"l":false},{"id":"59cbf5c7d0f1fb39","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s1_odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1460,"wires":[["d26494062e228669"]],"l":false},{"id":"55bf27c1259d861b","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s1_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1500,"wires":[["58b8d8d0c12373d2"]],"l":false},{"id":"a91d44c876d36b6e","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":2,"width":"0","height":"0","name":"mode:","label":"mode:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3230,"y":1420,"wires":[]},{"id":"d26494062e228669","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":3,"width":"0","height":"0","name":"odr","label":"odr:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3230,"y":1460,"wires":[]},{"id":"58b8d8d0c12373d2","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":4,"width":"0","height":"0","name":"Temperature","label":"Temperature:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3250,"y":1500,"wires":[]},{"id":"b9e9611e289a3a29","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1540,"wires":[["aef0413e47a03d2f"]],"l":false},{"id":"aef0413e47a03d2f","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":5,"width":"0","height":"0","name":"x-rms-ACC-G","label":"x-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":1540,"wires":[]},{"id":"eb90fbfa95b98c91","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1580,"wires":[["f20ae206ca4213b3"]],"l":false},{"id":"f20ae206ca4213b3","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":6,"width":"0","height":"0","name":"x-max-ACC-G","label":"x-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":1580,"wires":[]},{"id":"b19a19cc138871d3","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":7,"width":"0","height":"0","name":"x-Velocity-mm-sec","label":"x-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1620,"wires":[]},{"id":"86696f394fb072e6","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1620,"wires":[["b19a19cc138871d3"]],"l":false},{"id":"f8fb6d695a0708a6","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":8,"width":"0","height":"0","name":"x-Displacement-mm-sec","label":"x-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3290,"y":1660,"wires":[]},{"id":"e8caa3a75ca37868","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1660,"wires":[["f8fb6d695a0708a6"]],"l":false},{"id":"3825308f044c090f","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":9,"width":"0","height":"0","name":"x-Peak-One (Hz)","label":"x-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1700,"wires":[]},{"id":"0b92dea9fc8998ee","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1700,"wires":[["3825308f044c090f"]],"l":false},{"id":"165d12393e91f997","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":10,"width":"0","height":"0","name":"x-Peak-Two (Hz)","label":"x-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1740,"wires":[]},{"id":"603f7a7767a53862","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1740,"wires":[["165d12393e91f997"]],"l":false},{"id":"b6c184fa568cb69c","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"6cb2b57789b3272e","order":11,"width":"0","height":"0","name":"x-Peak-Three (Hz)","label":"x-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":1780,"wires":[]},{"id":"019b8e4a83e523c7","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x1_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":1780,"wires":[["b6c184fa568cb69c"]],"l":false},{"id":"474dea23c52c6ed7","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":7,"width":"0","height":"0","name":"z-Peak-Three (Hz)","label":"z-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2420,"wires":[]},{"id":"7d885395bb8b3c5c","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2180,"wires":[["d066e2e39bf43590"]],"l":false},{"id":"d066e2e39bf43590","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":1,"width":"0","height":"0","name":"z-rms-ACC-G","label":"z-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":2180,"wires":[]},{"id":"c524f72fc7fc3211","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2220,"wires":[["36e60f7b1d722b90"]],"l":false},{"id":"36e60f7b1d722b90","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":2,"width":"0","height":"0","name":"z-max-ACC-G","label":"z-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3260,"y":2220,"wires":[]},{"id":"ba8da8f0307b9862","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":3,"width":"0","height":"0","name":"z-Velocity-mm-sec","label":"z-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2260,"wires":[]},{"id":"350a7f8fe17aa8ac","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2260,"wires":[["ba8da8f0307b9862"]],"l":false},{"id":"57197cd1f053d51d","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":4,"width":"0","height":"0","name":"z-Displacement-mm-sec","label":"z-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3290,"y":2300,"wires":[]},{"id":"fa6320cfa17cf522","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2300,"wires":[["57197cd1f053d51d"]],"l":false},{"id":"c71aa03cd10de891","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":5,"width":"0","height":"0","name":"z-Peak-One (Hz)","label":"z-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2340,"wires":[]},{"id":"ed359192c108664e","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2340,"wires":[["c71aa03cd10de891"]],"l":false},{"id":"53fed09cc4929075","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":6,"width":"0","height":"0","name":"z-Peak-Two (Hz)","label":"z-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3270,"y":2380,"wires":[]},{"id":"ffc2494dbfd7498a","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2380,"wires":[["53fed09cc4929075"]],"l":false},{"id":"2e2114607b93e893","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z1_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":2420,"wires":[["474dea23c52c6ed7"]],"l":false},{"id":"0dab613f71b85212","type":"link out","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link out 128","mode":"link","links":["3a8df859b4691aa8","42a5d772bf56e0a4","6c014b8f6b79593f","b874809031a1e2aa","06f91d4dfec3ca41","379bc8ab307a4747","a3c284f3f04f50c6","93cb078efbc8f81f","ce69ca8acb5a14ce","e6461625fe1f37c3","3cbc0fa3b5787fb4","fe51123e024044fe","a110134caca34bea","1da32b5e4e930473","e8d84798612db086","f0e26820ee692647","0db9cbf82760dff6","2ea8300b5fd2992b","4b3b38f16dbd1d9e","44271dfc1c034626","e10d4817a6645b7c","f6c65d418e41a8b1"],"x":4045,"y":620,"wires":[]},{"id":"8ecc93f968d1e6b3","type":"switch","z":"a5ea3b7ee9a1c602","name":"","property":"newdevice","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":1765,"y":880,"wires":[["96382812f8a15b2a"]],"l":false},{"id":"31b85d3c1ec178e0","type":"link out","z":"a5ea3b7ee9a1c602","name":"link out 129","mode":"link","links":["fd4a3e6c453cafc3","65a635112db11678","2fa907a135ae9c42","bcb479bc43f4ccc8","0c3d7599c90d25e3","ed28e126f09be3f2"],"x":2355,"y":940,"wires":[]},{"id":"2117a7a4a738a8c5","type":"function","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","name":"vp2InspectFunction","func":"let toggle = context.get(\"toggle\") || 0;\nlet chSelection = flow.get(\"vp2chSelection\") || 0;\nlet unit = {};\n\nif(!toggle) /* First time */\n{\n    flow.set(\"vpInspect\", true);\n    unit = \n    {\n        groups: \n        { \n            show: [\n                \"ncd-2ch-vibration:vp2Insp1\",\n                \"ncd-2ch-vibration:vp2Insp2\",\n                \"ncd-2ch-vibration:vp2Insp3\",\n                \"ncd-2ch-vibration:vp2Insp4\",\n                \"ncd-2ch-vibration:vp2Insp5\"\n            ],\n            hide: \n            [\n                \"ncd-2ch-vibration:vp2Battery\",\n                \"ncd-2ch-vibration:vp2ODR\",\n                \"ncd-2ch-vibration:vp2Temperature\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\",\n                \"ncd-2ch-vibration:vp2ODR2\",\n                \"ncd-2ch-vibration:vp2Temperature2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n            ],\n            disable: \n            [\n                \"ncd-2ch-vibration:vp2SelectMAC\",\n                \"ncd-2ch-vibration:vp2Download\",\n                \"ncd-2ch-vibration:vp2switch\"\n            ]\n        } \n    }\n    toggle++;\n}\nelse /* Second time */\n{\n    flow.set(\"vpInspect\", false);\n    if(chSelection == false)\n    {\n        unit = \n        {\n            groups: \n            { \n                hide: \n                [\n                    \"ncd-2ch-vibration:vp2Insp1\",\n                    \"ncd-2ch-vibration:vp2Insp2\",\n                    \"ncd-2ch-vibration:vp2Insp3\",\n                    \"ncd-2ch-vibration:vp2Insp4\",\n                    \"ncd-2ch-vibration:vp2Insp5\",\n                    \"ncd-2ch-vibration:vp2ODR2\",\n                    \"ncd-2ch-vibration:vp2Temperature2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n                ],\n                show: [\n                    \"ncd-2ch-vibration:vp2Battery\",\n                    \"ncd-2ch-vibration:vp2ODR\",\n                    \"ncd-2ch-vibration:vp2Temperature\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n                ],\n                enable : \n                [\n                    \"ncd-2ch-vibration:vp2SelectMAC\",\n                    \"ncd-2ch-vibration:vp2Download\",\n                    \"ncd-2ch-vibration:vp2switch\"\n                ]\n            } \n        }\n    }\n    if(chSelection == true) \n    {\n        unit =\n        {\n            groups:\n            {\n                hide:\n                [\n                    \"ncd-2ch-vibration:vp2Insp1\",\n                    \"ncd-2ch-vibration:vp2Insp2\",\n                    \"ncd-2ch-vibration:vp2Insp3\",\n                    \"ncd-2ch-vibration:vp2Insp4\",\n                    \"ncd-2ch-vibration:vp2Insp5\",\n                    \"ncd-2ch-vibration:vp2ODR\",\n                    \"ncd-2ch-vibration:vp2Temperature\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n                ],\n                show: \n                [\n                    \"ncd-2ch-vibration:vp2Battery\",\n                    \"ncd-2ch-vibration:vp2ODR2\",\n                    \"ncd-2ch-vibration:vp2Temperature2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                    \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                    \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                    \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n                ],\n                enable:\n                [\n                    \"ncd-2ch-vibration:vp2SelectMAC\",\n                    \"ncd-2ch-vibration:vp2Download\",\n                    \"ncd-2ch-vibration:vp2switch\"\n                ]\n            }\n        }\n    }\n    toggle = 0;\n}\ncontext.set(\"toggle\", toggle);\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3250,"y":160,"wires":[["924bc3e7b6b5e986"]]},{"id":"23feb97323151c0b","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","group":"","page":"0bf94704d1cb5a6f","ui":"","name":"vp2InspectButton","order":0,"width":"2","height":"1","head":"","format":"<template>\n    <v-btn class=\"vp2InspectButton\" @click=\"send({payload:true})\" color=\"#6e53de\" density=\"default\" append-icon=\"mdi-code-braces\"> Inspect </v-btn>\n</template>\n\n<style>\n.vp2InspectButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    top: -96px !important;\n    left: -155px !important;\n    width: 142px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3050,"y":160,"wires":[["2117a7a4a738a8c5"]]},{"id":"924bc3e7b6b5e986","type":"ui-control","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","name":"","ui":"ec459411017ddf37","events":"change","x":3440,"y":160,"wires":[[]]},{"id":"5715561983b3971c","type":"function","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","name":"initShow","func":"let unit = {\n    groups: \n    { \n        hide: \n        [\n            \"ncd-2ch-vibration:vp2Insp1\",\n            \"ncd-2ch-vibration:vp2Insp2\",\n            \"ncd-2ch-vibration:vp2Insp3\",\n            \"ncd-2ch-vibration:vp2Insp4\",\n            \"ncd-2ch-vibration:vp2Insp5\",\n            \"ncd-2ch-vibration:vp2ODR2\",\n            \"ncd-2ch-vibration:vp2Temperature2\",\n            \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n            \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n            \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n        ],\n        show:\n        [\n            \"ncd-2ch-vibration:vp2SelectMAC\",\n            \"ncd-2ch-vibration:vp2Download\",\n            \"ncd-2ch-vibration:vp2switch\",\n            \"ncd-2ch-vibration:vp2Battery\",\n            \"ncd-2ch-vibration:vp2ODR\",\n            \"ncd-2ch-vibration:vp2Temperature\",\n            \"ncd-2ch-vibration:vp2ACCGroup_x\",\n            \"ncd-2ch-vibration:vp2ACCGroup_y\",\n            \"ncd-2ch-vibration:vp2ACCGroup_z\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n        ],\n        enable:\n        [\n            \"ncd-2ch-vibration:vp2SelectMAC\",\n            \"ncd-2ch-vibration:vp2Download\",\n            \"ncd-2ch-vibration:vp2switch\"\n        ]\n    } \n}\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3260,"y":200,"wires":[["924bc3e7b6b5e986","78395d874ef2eb6d"]]},{"id":"63c22538e6cf2bf7","type":"ui-event","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","ui":"ec459411017ddf37","name":"","x":3110,"y":200,"wires":[["5715561983b3971c"]]},{"id":"537114ec9c4431be","type":"inject","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":3095,"y":240,"wires":[["3f724fc60e595231"]],"l":false},{"id":"3f724fc60e595231","type":"change","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","name":"","rules":[{"t":"delete","p":"vpMAC","pt":"flow"},{"t":"delete","p":"vp2macSelection","pt":"flow"},{"t":"delete","p":"vpDateDownloadFile","pt":"flow"},{"t":"delete","p":"vpInspect","pt":"flow"},{"t":"delete","p":"vp2chSelection","pt":"flow"},{"t":"set","p":"options","pt":"msg","to":"[\"\"]","tot":"json"},{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":3145,"y":240,"wires":[["5715561983b3971c","67b0e78c4e369f00"]],"icon":"font-awesome/fa-remove","l":false},{"id":"67b0e78c4e369f00","type":"link out","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","name":"link out 131","mode":"link","links":["80820e789680a79e","6c014b8f6b79593f","3cbc0fa3b5787fb4","d8de1ebbe9a18f5f","3a8df859b4691aa8","42a5d772bf56e0a4","b874809031a1e2aa","06f91d4dfec3ca41","379bc8ab307a4747","a3c284f3f04f50c6","93cb078efbc8f81f","ce69ca8acb5a14ce","e6461625fe1f37c3","a110134caca34bea","fe51123e024044fe","1da32b5e4e930473","e8d84798612db086","f0e26820ee692647","0db9cbf82760dff6","2ea8300b5fd2992b","4b3b38f16dbd1d9e","44271dfc1c034626","e10d4817a6645b7c","f6c65d418e41a8b1"],"x":3215,"y":240,"wires":[]},{"id":"47d7fd2220fe1f3f","type":"link in","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","name":"link in 205","links":["11f7e5c49ff226bd","992f652d882f76e1"],"x":3325,"y":120,"wires":[["924bc3e7b6b5e986"]]},{"id":"efa9f4d36655efcb","type":"ui-switch","z":"a5ea3b7ee9a1c602","g":"742c5833f82b0149","name":"","label":"Ch1 / Ch2","group":"f82b9b4104bcd042","order":1,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","style":"","className":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":2680,"y":360,"wires":[["ef7b90cd674365bc"]]},{"id":"54013b5ba55bd84d","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":9,"width":"0","height":"0","name":"SENSOR DATA - CH2 (payload)","label":"SENSOR DATA - CH2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Arial,Arial,Helvetica,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3670,"y":1380,"wires":[]},{"id":"e7156bcfac298b9d","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":8,"width":"0","height":"0","name":"dummy","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"Impact,Impact,Charcoal,sans-serif","fontSize":"20","color":"#ffffff","className":"","x":3600,"y":1340,"wires":[]},{"id":"0c3d7599c90d25e3","type":"link in","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"link in 206","links":["8d40a16f5bd9e80e","31b85d3c1ec178e0"],"x":3475,"y":2100,"wires":[["bbc934d0bb35991a","2f77a50af29420f6","b637a22811ee7db7","3dd22a834b08d399","921430f22f95d3f5","493096184f9f8603","c35abe5269a0f7c9","d3f2f83fce12c358","2bbd8c1566fa4b60","bde9385dce25f71e","f29b17ce53382199","2722d29561647efb","2070966c6ab2e2e9","34dfd4cc599a5a69"]]},{"id":"bbc934d0bb35991a","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1860,"wires":[["ba17faa64f084b78"]],"l":false},{"id":"ba17faa64f084b78","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":1,"width":"0","height":"0","name":"y2-rms-ACC-G","label":"y2-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1860,"wires":[]},{"id":"2f77a50af29420f6","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1900,"wires":[["a1329cc14cae1925"]],"l":false},{"id":"a1329cc14cae1925","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":2,"width":"0","height":"0","name":"y2-max-ACC-G","label":"y2-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1900,"wires":[]},{"id":"d5f3f1077b35ce6f","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":3,"width":"0","height":"0","name":"y2-Velocity-mm-sec","label":"y2-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1940,"wires":[]},{"id":"b637a22811ee7db7","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1940,"wires":[["d5f3f1077b35ce6f"]],"l":false},{"id":"82e0ff4551011954","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":4,"width":"0","height":"0","name":"y2-Displacement-mm-sec","label":"y2-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3710,"y":1980,"wires":[]},{"id":"3dd22a834b08d399","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1980,"wires":[["82e0ff4551011954"]],"l":false},{"id":"01c2cd88e044a871","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":5,"width":"0","height":"0","name":"y2-Peak-One (Hz)","label":"y2-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2020,"wires":[]},{"id":"921430f22f95d3f5","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2020,"wires":[["01c2cd88e044a871"]],"l":false},{"id":"c27c53f0edc5db78","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":6,"width":"0","height":"0","name":"y2-Peak-Two (Hz)","label":"y2-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2060,"wires":[]},{"id":"493096184f9f8603","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2060,"wires":[["c27c53f0edc5db78"]],"l":false},{"id":"b680c517809e89b4","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":7,"width":"0","height":"0","name":"y2-Peak-Three (Hz)","label":"y2-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2100,"wires":[]},{"id":"c35abe5269a0f7c9","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.y2_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2100,"wires":[["b680c517809e89b4"]],"l":false},{"id":"ed28e126f09be3f2","type":"link in","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"link in 207","links":["8d40a16f5bd9e80e","31b85d3c1ec178e0"],"x":3465,"y":1580,"wires":[["79a9f97e0b99502e","c025482d2fb2efe8","a858e201621148ad","8ee6c8a9eb7a149f","ecea0b4a21bcbe56","bb6ebd20b9c446ed","c942cfd5fe20659b","4886fa57fdceabda","0ea5c0da39438b66"]]},{"id":"79a9f97e0b99502e","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s2_odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1440,"wires":[["42fc67e91af2a7c0"]],"l":false},{"id":"c025482d2fb2efe8","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s2_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1480,"wires":[["28e086117e557755"]],"l":false},{"id":"42fc67e91af2a7c0","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":10,"width":"0","height":"0","name":"odr 2","label":"odr 2:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3650,"y":1440,"wires":[]},{"id":"28e086117e557755","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":11,"width":"0","height":"0","name":"Temperature 2","label":"Temperature 2:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1480,"wires":[]},{"id":"a858e201621148ad","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1520,"wires":[["85b8b893fb84ce96"]],"l":false},{"id":"85b8b893fb84ce96","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":12,"width":"0","height":"0","name":"x2-rms-ACC-G","label":"x2-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1520,"wires":[]},{"id":"8ee6c8a9eb7a149f","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1560,"wires":[["5894ec457cc39c1a"]],"l":false},{"id":"5894ec457cc39c1a","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":13,"width":"0","height":"0","name":"x2-max-ACC-G","label":"x2-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":1560,"wires":[]},{"id":"2937fc0275902c36","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":14,"width":"0","height":"0","name":"x2-Velocity-mm-sec","label":"x2-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1600,"wires":[]},{"id":"ecea0b4a21bcbe56","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1600,"wires":[["2937fc0275902c36"]],"l":false},{"id":"a995c2074dbb2017","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":15,"width":"0","height":"0","name":"x2-Displacement-mm-sec","label":"x2-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3710,"y":1640,"wires":[]},{"id":"bb6ebd20b9c446ed","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1640,"wires":[["a995c2074dbb2017"]],"l":false},{"id":"fcf00b7edd7b209a","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":16,"width":"0","height":"0","name":"x2-Peak-One (Hz)","label":"x2-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1680,"wires":[]},{"id":"c942cfd5fe20659b","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1680,"wires":[["fcf00b7edd7b209a"]],"l":false},{"id":"c8a8c10f1c1eded8","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":17,"width":"0","height":"0","name":"x2-Peak-Two (Hz)","label":"x2-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1720,"wires":[]},{"id":"4886fa57fdceabda","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1720,"wires":[["c8a8c10f1c1eded8"]],"l":false},{"id":"d083520288c95837","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"24e8397acc063d71","order":18,"width":"0","height":"0","name":"x2-Peak-Three (Hz)","label":"x2-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":1760,"wires":[]},{"id":"0ea5c0da39438b66","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.x2_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":1760,"wires":[["d083520288c95837"]],"l":false},{"id":"8fa45bfe973384d4","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":14,"width":"0","height":"0","name":"z2-Peak-Three (Hz)","label":"z2-Peak-Three (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2380,"wires":[]},{"id":"d3f2f83fce12c358","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_rms_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2140,"wires":[["ec71ab2fb58b6956"]],"l":false},{"id":"ec71ab2fb58b6956","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":8,"width":"0","height":"0","name":"z2-rms-ACC-G","label":"z2-rms-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":2140,"wires":[]},{"id":"2bbd8c1566fa4b60","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_max_ACC_G","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2180,"wires":[["0c1f67b5889c762a"]],"l":false},{"id":"0c1f67b5889c762a","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":9,"width":"0","height":"0","name":"z2-max-ACC-G","label":"z2-max-ACC-G:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3680,"y":2180,"wires":[]},{"id":"909a4e9f756e5c98","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":10,"width":"0","height":"0","name":"z2-Velocity-mm-sec","label":"z2-Velocity-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2220,"wires":[]},{"id":"bde9385dce25f71e","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_velocity_mm_sec","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2220,"wires":[["909a4e9f756e5c98"]],"l":false},{"id":"e19fe43738596344","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":11,"width":"0","height":"0","name":"z2-Displacement-mm-sec","label":"z2-Displacement-mm-sec:","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3710,"y":2260,"wires":[]},{"id":"f29b17ce53382199","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_displacement_mm","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2260,"wires":[["e19fe43738596344"]],"l":false},{"id":"626170ce5bc553c4","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":12,"width":"0","height":"0","name":"z2-Peak-One (Hz)","label":"z2-Peak-One (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2300,"wires":[]},{"id":"2722d29561647efb","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_peak_one_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2300,"wires":[["626170ce5bc553c4"]],"l":false},{"id":"2ef3bf3906748eb9","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","group":"2b5ddfdaeae7aa4f","order":13,"width":"0","height":"0","name":"z2-Peak-Two (Hz)","label":"z2-Peak-Two (Hz):","format":"{{msg.payload}}","layout":"row-spread","style":true,"font":"","fontSize":16,"color":"#ffffff","className":"","x":3690,"y":2340,"wires":[]},{"id":"2070966c6ab2e2e9","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_peak_two_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2340,"wires":[["2ef3bf3906748eb9"]],"l":false},{"id":"34dfd4cc599a5a69","type":"change","z":"a5ea3b7ee9a1c602","g":"35e49e62e6249d6f","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.z2_peak_three_Hz","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3565,"y":2380,"wires":[["8fa45bfe973384d4"]],"l":false},{"id":"158e2ac2edd9f513","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 208","links":["17bf02e7e2d951c1","9f7bbdcced97a1d2"],"x":3945,"y":900,"wires":[["3c2cbae94b89b898"]]},{"id":"a3c40afaab94e0fe","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"1012cbd171f1374c","order":1,"width":"0","height":"0","name":"Temperature Channel - 2","label":"Temperature Channel - 2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":4130,"y":860,"wires":[]},{"id":"7e739ed4d0dc7edf","type":"ui-gauge","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"vpTempGauge2","group":"1012cbd171f1374c","order":3,"width":"2","height":"4","gtype":"gauge-34","gstyle":"needle","title":"","units":"°C","icon":"","prefix":"","suffix":"","segments":[{"from":"0","color":"#5cd65c"},{"from":"90","color":"#5cd65c"},{"from":"100","color":"#5cd65c"}],"min":0,"max":"100","sizeThickness":"40","sizeGap":"0","sizeKeyThickness":"0","styleRounded":true,"styleGlow":false,"className":"vp2TempGauge","x":4160,"y":940,"wires":[]},{"id":"013ea6f37f7bb8b4","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"1012cbd171f1374c","page":"","ui":"","name":"vp2Line2","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"vp2Line\"></div>\n</template>\n<style>\n.vp2Line{\n  position: relative;\n  border-left: 2000px solid white ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: -34px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4180,"y":900,"wires":[[]]},{"id":"9ffb03d1569206f3","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"51fa25ecfc2a35db","order":1,"width":"1","height":"1","name":"ODR - 2","label":"ODR - 2","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"15","color":"#ffffff","className":"vp2TitlesText","x":3840,"y":860,"wires":[]},{"id":"b32b079c160140f1","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"d037ea7958faf54a","order":2,"width":"4","height":"1","name":"X2 - ACC ","label":"X2 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":3680,"y":1040,"wires":[]},{"id":"3c2cbae94b89b898","type":"change","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s2_temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3995,"y":900,"wires":[["7e739ed4d0dc7edf"]],"l":false},{"id":"a632eb718cea5508","type":"change","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"data.sensor_data.s2_odr","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3745,"y":940,"wires":[["da490057cb703d05"]],"l":false},{"id":"f18c72970b0c5086","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 210","links":["17bf02e7e2d951c1","9f7bbdcced97a1d2"],"x":3695,"y":940,"wires":[["a632eb718cea5508"]]},{"id":"a110134caca34bea","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 213","links":["67b0e78c4e369f00","0dab613f71b85212"],"x":3995,"y":940,"wires":[["7e739ed4d0dc7edf","4848b82b967176cd"]]},{"id":"fe51123e024044fe","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 214","links":["67b0e78c4e369f00","0dab613f71b85212"],"x":3695,"y":980,"wires":[["da490057cb703d05"]]},{"id":"4848b82b967176cd","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"1012cbd171f1374c","name":"vp2TempChart2","label":"","order":4,"chartType":"line","category":"topic","categoryType":"str","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"s2_temperature","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"4","showLegend":false,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#5cd65c","#f8f125","#ff0f0f","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"4","className":"vp2TempChart","x":4160,"y":980,"wires":[[]]},{"id":"da490057cb703d05","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"51fa25ecfc2a35db","order":3,"width":"0","height":"0","name":"ODR2","label":"","format":"{{msg.payload}}","layout":"col-center","style":true,"font":"","fontSize":"32","color":"#ffffff","className":"vp2ValueODR","x":3840,"y":980,"wires":[]},{"id":"eeef887bcd5b9eaa","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"51fa25ecfc2a35db","page":"","ui":"","name":"vibrationPlusLine2","order":2,"width":"0","height":"0","head":"","format":"<template>\n    <div class=\"lineVP2\"></div>\n</template>\n<style>\n.lineVP2{\n  position: absolute;\n  border-left: 200px solid white ;\n  height: 1.5px !important;\n  margin-left: -20px;\n  top: 40px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":3810,"y":900,"wires":[[]]},{"id":"d33487eb1f64f87a","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"d037ea7958faf54a","name":"vpX2-ACC","label":"","order":1,"chartType":"line","category":"[\"x2_rms_ACC_G\",\"x2_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3670,"y":1080,"wires":[[]]},{"id":"fbfb5c84ff6add9f","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"b51f576bdca43dfc","order":2,"width":"4","height":"1","name":"X2 - Vel / Displ","label":"X2 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3920,"y":1040,"wires":[]},{"id":"c5608a446b92bf1b","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"b51f576bdca43dfc","name":"vpX2-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"x2_velocity_mm_sec\",\"x2_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3920,"y":1080,"wires":[[]]},{"id":"d41b9b3e582ee601","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"f23d584c29e5e385","order":2,"width":"2","height":"1","name":"X2 - Peak (Hz)","label":"X2 Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":4160,"y":1040,"wires":[]},{"id":"50841a4ad5aae2c7","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"f23d584c29e5e385","name":"vpX2-Peak","label":"","order":1,"chartType":"line","category":"[\"x2_peak_one_Hz\",\"x2_peak_two_Hz\",\"x2_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":4170,"y":1080,"wires":[[]]},{"id":"d6cc3720f47fa450","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"4918cda05c89ceb3","order":2,"width":"4","height":"1","name":"Y2 - ACC ","label":"Y2 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":3680,"y":1120,"wires":[]},{"id":"fdd6ccc1c5982f19","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"4918cda05c89ceb3","name":"vpY2-ACC","label":"","order":1,"chartType":"line","category":"[\"y2_rms_ACC_G\",\"y2_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3670,"y":1160,"wires":[[]]},{"id":"f25564e90aad5346","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"b60e46b738c5deba","order":2,"width":"4","height":"1","name":"Y2 - Vel / Displ","label":"Y2 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3920,"y":1120,"wires":[]},{"id":"855ff6809fe61ffd","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"b60e46b738c5deba","name":"vpY2-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"y2_velocity_mm_sec\",\"y2_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3920,"y":1160,"wires":[[]]},{"id":"f2a889152a233b81","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"a678bbf7c1abbd85","order":2,"width":"4","height":"1","name":"Y2 - Peak (Hz)","label":"Y2 - Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":4160,"y":1120,"wires":[]},{"id":"3f7d75dfe8025e59","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"a678bbf7c1abbd85","name":"vpY2-Peak","label":"","order":1,"chartType":"line","category":"[\"y2_peak_one_Hz\",\"y2_peak_two_Hz\",\"y2_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":4170,"y":1160,"wires":[[]]},{"id":"130373d07291bfce","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"a669ae2b41acdc89","order":2,"width":"4","height":"1","name":"Z2 - ACC ","label":"Z2 - ACC ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"22","color":"#ffffff","className":"vp2ChartsText","x":3680,"y":1200,"wires":[]},{"id":"9d91eaf761a77d0a","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"a669ae2b41acdc89","name":"vpZ2-ACC","label":"","order":1,"chartType":"line","category":"[\"z2_rms_ACC_G\",\"z2_max_ACC_G\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#1e4fff","#079696","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3670,"y":1240,"wires":[[]]},{"id":"a59d5881605696e5","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"caf265dc7b00ccc9","order":2,"width":"4","height":"1","name":"Z2 - Vel / Displ","label":"Z2 - Vel / Displ","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":3920,"y":1200,"wires":[]},{"id":"a99cbca433672ee2","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"caf265dc7b00ccc9","name":"vpZ2-Vel/Displ","label":"","order":1,"chartType":"line","category":"[\"z2_velocity_mm_sec\",\"z2_displacement_mm\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":3920,"y":1240,"wires":[[]]},{"id":"f098d5fcb9ed3bbf","type":"ui-text","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"8b5b991a2ae853ed","order":2,"width":"4","height":"1","name":"Z2 - Peak (Hz)","label":"Z2 - Peak","format":"{{msg.payload}}","layout":"row-left","style":true,"font":"","fontSize":"25","color":"#ffffff","className":"vp2ChartsText","x":4160,"y":1200,"wires":[]},{"id":"8b3e30596cf625ee","type":"ui-chart","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","group":"8b5b991a2ae853ed","name":"vpZ2-Peak","label":"","order":1,"chartType":"line","category":"[\"z2_peak_one_Hz\",\"z2_peak_two_Hz\",\"z2_peak_three_Hz\"]","categoryType":"json","xAxisProperty":"Timestamp","xAxisPropertyType":"msg","xAxisType":"time","yAxisProperty":"data","ymin":"","ymax":"","action":"append","pointShape":"circle","pointRadius":"2","showLegend":true,"removeOlder":"20","removeOlderUnit":"60","removeOlderPoints":"20","colors":["#2095f2","#ffffff","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"width":"4","height":"5","className":"vp2XAccChart","x":4170,"y":1240,"wires":[[]]},{"id":"b38d2668bbd6ed99","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 216","links":["17bf02e7e2d951c1","76f9c5de8375113d"],"x":3995,"y":980,"wires":[["4848b82b967176cd"]]},{"id":"1da32b5e4e930473","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 217","links":["67b0e78c4e369f00","76f9c5de8375113d","17bf02e7e2d951c1","0dab613f71b85212"],"x":3565,"y":1080,"wires":[["d33487eb1f64f87a"]]},{"id":"e8d84798612db086","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 218","links":["67b0e78c4e369f00","17bf02e7e2d951c1","76f9c5de8375113d","0dab613f71b85212"],"x":3565,"y":1160,"wires":[["fdd6ccc1c5982f19"]]},{"id":"f0e26820ee692647","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 219","links":["67b0e78c4e369f00","17bf02e7e2d951c1","76f9c5de8375113d","0dab613f71b85212"],"x":3565,"y":1240,"wires":[["9d91eaf761a77d0a"]]},{"id":"0db9cbf82760dff6","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 220","links":["67b0e78c4e369f00","17bf02e7e2d951c1","76f9c5de8375113d","0dab613f71b85212"],"x":3805,"y":1080,"wires":[["c5608a446b92bf1b"]]},{"id":"2ea8300b5fd2992b","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 221","links":["67b0e78c4e369f00","17bf02e7e2d951c1","76f9c5de8375113d","0dab613f71b85212"],"x":3805,"y":1160,"wires":[["855ff6809fe61ffd"]]},{"id":"4b3b38f16dbd1d9e","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 222","links":["67b0e78c4e369f00","76f9c5de8375113d","17bf02e7e2d951c1","0dab613f71b85212"],"x":3805,"y":1240,"wires":[["a99cbca433672ee2"]]},{"id":"44271dfc1c034626","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 223","links":["67b0e78c4e369f00","17bf02e7e2d951c1","76f9c5de8375113d","0dab613f71b85212"],"x":4065,"y":1080,"wires":[["50841a4ad5aae2c7"]]},{"id":"e10d4817a6645b7c","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 224","links":["67b0e78c4e369f00","17bf02e7e2d951c1","76f9c5de8375113d","0dab613f71b85212"],"x":4065,"y":1160,"wires":[["3f7d75dfe8025e59"]]},{"id":"f6c65d418e41a8b1","type":"link in","z":"a5ea3b7ee9a1c602","g":"be2b5847b94f4fde","name":"link in 225","links":["67b0e78c4e369f00","17bf02e7e2d951c1","76f9c5de8375113d","0dab613f71b85212"],"x":4065,"y":1240,"wires":[["8b3e30596cf625ee"]]},{"id":"ad32f8dda5623a25","type":"function","z":"a5ea3b7ee9a1c602","g":"742c5833f82b0149","name":"inspectFunction","func":"let unit = {};\nflow.set(\"vp2chSelection\", false);\nunit = {\n    groups: \n    { \n        show: \n        [\n            \"ncd-2ch-vibration:vp2SelectMAC\",\n            \"ncd-2ch-vibration:vp2Download\",\n            \"ncd-2ch-vibration:vp2switch\",\n            \"ncd-2ch-vibration:vp2Battery\",\n            \"ncd-2ch-vibration:vp2ODR\",\n            \"ncd-2ch-vibration:vp2Temperature\",\n            \"ncd-2ch-vibration:vp2ACCGroup_x\",\n            \"ncd-2ch-vibration:vp2ACCGroup_y\",\n            \"ncd-2ch-vibration:vp2ACCGroup_z\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n        ],\n        hide: \n        [\n            \"ncd-vibration-plus:vp2ODR2\",\n            \"ncd-vibration-plus:vp2Temperature2\",\n            \"ncd-vibration-plus:vp2ACCGroup_x2\",\n            \"ncd-vibration-plus:vp2ACCGroup_y2\",\n            \"ncd-vibration-plus:vp2ACCGroup_z2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_x2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_y2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_z2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_x2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_y2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_z2\",\n            \"ncd-2ch-vibration:vp2Insp1\",\n            \"ncd-2ch-vibration:vp2Insp2\",\n            \"ncd-2ch-vibration:vp2Insp3\",\n            \"ncd-2ch-vibration:vp2Insp4\",\n            \"ncd-2ch-vibration:vp2Insp5\"\n        ]\n    } \n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2980,"y":380,"wires":[["992f652d882f76e1"]]},{"id":"ef7b90cd674365bc","type":"switch","z":"a5ea3b7ee9a1c602","g":"742c5833f82b0149","name":"","property":"payload","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"false","repair":false,"outputs":2,"x":2810,"y":360,"wires":[["0b6d6d832d4bfa3e"],["ad32f8dda5623a25"]]},{"id":"0b6d6d832d4bfa3e","type":"function","z":"a5ea3b7ee9a1c602","g":"742c5833f82b0149","name":"inspectFunction","func":"let unit = {};\nflow.set(\"vp2chSelection\", true);\nunit = {\n    groups: \n    { \n        show: \n        [\n            \"ncd-2ch-vibration:vp2SelectMAC\",\n            \"ncd-2ch-vibration:vp2Download\",\n            \"ncd-2ch-vibration:vp2switch\",\n            \"ncd-2ch-vibration:vp2Battery\",\n            \"ncd-vibration-plus:vp2ODR2\",\n            \"ncd-vibration-plus:vp2Temperature2\",\n            \"ncd-vibration-plus:vp2ACCGroup_x2\",\n            \"ncd-vibration-plus:vp2ACCGroup_y2\",\n            \"ncd-vibration-plus:vp2ACCGroup_z2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_x2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_y2\",\n            \"ncd-vibration-plus:vp2VelDisplGroup_z2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_x2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_y2\",\n            \"ncd-vibration-plus:vp2OneTwoThreeGroup_z2\"\n\n        ],\n        hide: \n        [\n            \"ncd-2ch-vibration:vp2ODR\",\n            \"ncd-2ch-vibration:vp2Temperature\",\n            \"ncd-2ch-vibration:vp2ACCGroup_x\",\n            \"ncd-2ch-vibration:vp2ACCGroup_y\",\n            \"ncd-2ch-vibration:vp2ACCGroup_z\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n            \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n            \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\",\n            \"ncd-2ch-vibration:vp2Insp1\",\n            \"ncd-2ch-vibration:vp2Insp2\",\n            \"ncd-2ch-vibration:vp2Insp3\",\n            \"ncd-2ch-vibration:vp2Insp4\",\n            \"ncd-2ch-vibration:vp2Insp5\"\n        ]\n    } \n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2980,"y":340,"wires":[["992f652d882f76e1"]]},{"id":"992f652d882f76e1","type":"link out","z":"a5ea3b7ee9a1c602","g":"742c5833f82b0149","name":"link out 132","mode":"link","links":["47d7fd2220fe1f3f"],"x":3095,"y":360,"wires":[]},{"id":"7c5aae9f2039985b","type":"change","z":"a5ea3b7ee9a1c602","g":"742c5833f82b0149","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"vp2chSelection","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2510,"y":360,"wires":[["efa9f4d36655efcb"]]},{"id":"78395d874ef2eb6d","type":"link out","z":"a5ea3b7ee9a1c602","g":"383c3100d43bf89a","name":"link out 133","mode":"link","links":["caedc48937dab7b5"],"x":3355,"y":220,"wires":[]},{"id":"caedc48937dab7b5","type":"link in","z":"a5ea3b7ee9a1c602","g":"742c5833f82b0149","name":"link in 226","links":["78395d874ef2eb6d"],"x":2385,"y":360,"wires":[["7c5aae9f2039985b"]]},{"id":"05172146550fa5a9","type":"function","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"Set base path","func":"var basePath = msg.path;\nvar device = msg.device;\nvar filename = msg.date;\nmsg.filename = basePath + device + filename + \".csv\";\nreturn msg;\n\n\n","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":3880,"y":360,"wires":[["078fe54f26f37fb1"]]},{"id":"80e06d7b9a198244","type":"http response","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","statusCode":"","headers":{},"x":4170,"y":360,"wires":[]},{"id":"078fe54f26f37fb1","type":"file in","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","filename":"filename","filenameType":"msg","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":4040,"y":360,"wires":[["80e06d7b9a198244"]]},{"id":"5cff2d85e3ad5398","type":"catch","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","scope":["078fe54f26f37fb1"],"uncaught":false,"x":3730,"y":420,"wires":[["e307c68a6c792c80","facba472da7fa0fa","71cd039f88845115"]]},{"id":"9b51fc79783f870f","type":"http in","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","url":"/log/:fn","method":"get","upload":false,"swaggerDoc":"","x":3250,"y":360,"wires":[["2d24acc9878c79cf","00fe8bfb333039ff"]]},{"id":"62548cbadd021fa6","type":"change","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","rules":[{"t":"set","p":"date","pt":"msg","to":"vp2DateDownloadFile","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":3710,"y":360,"wires":[["05172146550fa5a9"]]},{"id":"2d24acc9878c79cf","type":"change","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3375,"y":340,"wires":[["a8df242c54d0a648"]],"l":false},{"id":"00fe8bfb333039ff","type":"change","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"HOMEPATH","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":3375,"y":380,"wires":[["c5e4d1bd7e06f369"]],"l":false},{"id":"a8df242c54d0a648","type":"switch","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3425,"y":340,"wires":[["e4da3e4bcbae0973"]],"l":false},{"id":"c5e4d1bd7e06f369","type":"switch","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","property":"path","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":3425,"y":380,"wires":[["6d76770bd6a74b52"]],"l":false},{"id":"e4da3e4bcbae0973","type":"change","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"/.node-red/log/\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"vp2macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device, 12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"/\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":340,"wires":[["62548cbadd021fa6"]]},{"id":"ab2ff43cf18290d1","type":"ui-notification","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","ui":"ec459411017ddf37","position":"center center","colorDefault":true,"color":"#000000","displayTime":"15","showCountdown":true,"outputs":0,"allowDismiss":true,"dismissText":"Close","raw":false,"className":"","name":"","x":4140,"y":400,"wires":[]},{"id":"e307c68a6c792c80","type":"function","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"error message","func":"var error = \"Error: no such file or directory, open 'log'\";\nmsg = {};\nmsg.payload = error;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3900,"y":400,"wires":[["e597930fb8a58b96"]]},{"id":"e597930fb8a58b96","type":"trigger","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"500","extend":false,"overrideDelay":false,"units":"ms","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":4015,"y":400,"wires":[["ab2ff43cf18290d1"]],"l":false},{"id":"6d76770bd6a74b52","type":"change","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","rules":[{"t":"set","p":"path","pt":"msg","to":"(path)&\"\\\\.node-red\\\\log\\\\\"","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"vp2macSelection","tot":"flow"},{"t":"set","p":"device","pt":"msg","to":"$substring(device,12)","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"$replace(device,\":\",\"-\")","tot":"jsonata"},{"t":"set","p":"device","pt":"msg","to":"(device)&\"\\\\\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":3540,"y":380,"wires":[["62548cbadd021fa6"]]},{"id":"facba472da7fa0fa","type":"http response","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"Redirecting","statusCode":"302","headers":{"location":"/dashboard/2chVibrationplus"},"x":3890,"y":440,"wires":[]},{"id":"0e24de750171346c","type":"function","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"checkLastFlagType","func":"let chSelection = flow.get(\"vp2chSelection\") || 0; \nlet unit = {}\n\nif(chSelection == false)\n{\n    unit = \n    {\n        groups: \n        { \n            hide: \n            [\n                \"ncd-2ch-vibration:vp2Insp1\",\n                \"ncd-2ch-vibration:vp2Insp2\",\n                \"ncd-2ch-vibration:vp2Insp3\",\n                \"ncd-2ch-vibration:vp2Insp4\",\n                \"ncd-2ch-vibration:vp2Insp5\",\n                \"ncd-2ch-vibration:vp2ODR2\",\n                \"ncd-2ch-vibration:vp2Temperature2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n            ],\n            show: [\n                \"ncd-2ch-vibration:vp2Battery\",\n                \"ncd-2ch-vibration:vp2ODR\",\n                \"ncd-2ch-vibration:vp2Temperature\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n            ],\n            enable : \n            [\n                \"ncd-2ch-vibration:vp2SelectMAC\",\n                \"ncd-2ch-vibration:vp2Download\",\n                \"ncd-2ch-vibration:vp2switch\"\n            ]\n        } \n    }\n}\nif(chSelection == true) \n{\n    unit =\n    {\n        groups:\n        {\n            hide:\n            [\n                \"ncd-2ch-vibration:vp2Insp1\",\n                \"ncd-2ch-vibration:vp2Insp2\",\n                \"ncd-2ch-vibration:vp2Insp3\",\n                \"ncd-2ch-vibration:vp2Insp4\",\n                \"ncd-2ch-vibration:vp2Insp5\",\n                \"ncd-2ch-vibration:vp2ODR\",\n                \"ncd-2ch-vibration:vp2Temperature\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z\"\n            ],\n            show: \n            [\n                \"ncd-2ch-vibration:vp2Battery\",\n                \"ncd-2ch-vibration:vp2ODR2\",\n                \"ncd-2ch-vibration:vp2Temperature2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_x2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_y2\",\n                \"ncd-2ch-vibration:vp2ACCGroup_z2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_x2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_y2\",\n                \"ncd-2ch-vibration:vp2VelDisplGroup_z2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_x2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_y2\",\n                \"ncd-2ch-vibration:vp2OneTwoThreeGroup_z2\"\n            ],\n            enable:\n            [\n                \"ncd-2ch-vibration:vp2SelectMAC\",\n                \"ncd-2ch-vibration:vp2Download\",\n                \"ncd-2ch-vibration:vp2switch\"\n            ]\n        }\n    }\n}\n\nmsg.payload = unit;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":3970,"y":520,"wires":[["11f7e5c49ff226bd"]]},{"id":"71cd039f88845115","type":"trigger","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"","op1":"","op2":"","op1type":"nul","op2type":"pay","duration":"2","extend":false,"overrideDelay":false,"units":"s","reset":"","bytopic":"all","topic":"topic","outputs":1,"x":3835,"y":520,"wires":[["0e24de750171346c"]],"l":false},{"id":"11f7e5c49ff226bd","type":"link out","z":"a5ea3b7ee9a1c602","g":"d9f27caa00a83dbd","name":"link out 130","mode":"link","links":["47d7fd2220fe1f3f"],"x":4095,"y":520,"wires":[]},{"id":"e15f455f5cc0f2ff","type":"ui-text-input","z":"a5ea3b7ee9a1c602","g":"b59b55d9b95efbb4","group":"5f2e4d2f7469a51c","name":"vp2DatePicker","label":"Date:","order":1,"width":"0","height":"0","topic":"topic","topicType":"msg","mode":"date","delay":300,"passthru":false,"sendOnDelay":false,"sendOnBlur":true,"sendOnEnter":true,"className":"vp2DatePicker","x":3660,"y":240,"wires":[["64cd2e78fb37a340"]]},{"id":"4f08e86b83826a45","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"b59b55d9b95efbb4","group":"5f2e4d2f7469a51c","page":"","ui":"","name":"vp2Download","order":2,"width":"3","height":"1","head":"","format":"<template>  \n    <a href=\"/log/ncd-2-ch-vibration-plus.csv\">\n        <v-btn class=\"vp2ButtonDownload\" color=\"#6e53de\">Download CSV</v-btn>\n    </a>\n</template>\n<style>\n.vp2ButtonDownload {\n    height: 10px !important;\n    border-radius: 15px !important;\n    top:12px !important;\n    width: 127px !important;\n}\n</style>\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"local","className":"","x":4140,"y":240,"wires":[[]]},{"id":"64cd2e78fb37a340","type":"change","z":"a5ea3b7ee9a1c602","g":"b59b55d9b95efbb4","name":"","rules":[{"t":"set","p":"vp2DateDownloadFile","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":3910,"y":240,"wires":[[]]},{"id":"3e59c8de02539841","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"512445cca0cf0118","group":"","page":"0bf94704d1cb5a6f","ui":"","name":"vp2Style","order":0,"width":0,"height":0,"head":"","format":".v-main {\n    background-repeat: repeat;\n    --v-layout-top: 0px !important;\n    --v-layout-left: 181px !important;\n    background-color: #16122b !important;\n}\n.bg-group-background{\n    border-width: 2.1px !important;\n    border-radius:  25px !important;\n    background-color: #24204b !important;\n    border-color: #24204b  !important;\n}\n.v-toolbar{\n    left: 12px !important;\n    top: 119px !important;\n    width: 68px !important;\n    height: 62px !important;\n    border-radius: 15px;\n    background-color: #24204b !important;\n}\n.v-navigation-drawer--left{\n    top: 186px !important;\n    height: 160px !important;\n    border-radius: 15px;\n    left: 12px !important;\n    width: 167px !important;\n    background-color: #24204b !important;\n}\n.vp2InspectGroup .v-card{\n    height: 1077px !important;\n}\n.vp2GroupsCharts .v-card{\n    height: 265px !important;\n}\n.vp2GroupSelectMac {\n    top: 880px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.vp2GroupSelectMac .bg-group-background{\n    background-color: #24204b !important;\n    border-color: #24204b  !important;\n}\n.vp2GroupSelectMac .v-card{\n    height: 92px !important;\n}\n.vp2switch {\n    top: 605px !important;\n    width: 165px !important;\n    left: 13px !important;\n    position: absolute !important;\n}\n.vp2switch .bg-group-background{\n    background-color: #6e53de !important;\n    border-color: #6e53de  !important;\n}\n.vp2switch .v-card{\n    height: 92px !important;\n}\n.vp2DatePicker{\n    left: -12px;\n    width: 155px;\n    position: relative;\n}\n.vp2GroupDownload{\n    height: 100px !important;\n    top: 710px;\n    position: absolute;\n    left: 13px;\n    width: 165px !important;\n}\n.vp2GroupDownload .bg-group-background{\n    background-color: #24204b !important;\n    border-color: #24204b  !important;\n}\n.vp2GroupDownload .v-card{\n    height: 155px !important;\n}\n.vp2GroupODR .v-card{\n    width: 160px !important;\n    height: 246px !important;\n}\n.vp2TempGauge {\n    top:-76px !important;\n    left: 0px !important;\n}\n.vp2TempGauge .nrdb-ui-gauge-value span {\n    position: relative;\n    top: -3px !important;\n    font-size: 2.0rem !important;\n    line-height: 4.75rem !important;\n}\n.v-card-text .vp2TempGauge{\n    color: white !important;\n    font-size: 0.0rem !important;\n}\n.vp2TempGauge .nrdb-ui-gauge-value label {\n    color: white !important;\n    font-size: 1.75rem;\n    line-height: 0.825rem;\n}\n.vp2TempGauge #backdrop path {\n    fill: #16122b !important;\n}\n.vp2TempGauge .nrdb-ui-gauge-value span {\n  color: #ffffff;\n}\n/*needle color*/\n.nrdb-ui-gauge #needle polygon{\n    fill: #ffffff !important;\n}\n.vp2BatteryChart {\n    position: relative;\n    top: -110px !important;\n}\n.vp2TitlesText .nrdb-ui-text-label{\n    font-weight: bold;\n    position: absolute;\n    top: 10px !important;\n    font-size: 25px !important;\n    color: #ffffff;\n}\n.vp2TempChart {\n    position: relative;\n    left: 5px !important;\n    top: -110px !important;\n    width: 670px;\n}\n.vp2ValueODR .nrdb-ui-text-value{\n    position: relative;\n    top: 0px !important;\n}\n.vp2XAccChart{\n    position: relative;\n    top: -30px !important;\n}\n.vp2GroupTempBatt .v-card{\n    height: 246px !important;\n}\n.vp2ChartsText .nrdb-ui-text-label{\n    position: absolute;\n    font-weight: bold;\n    top: 5px !important;\n    font-size: 15px !important;\n    color: #ffffff;\n}\n","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"page:style","className":"","x":4160,"y":140,"wires":[[]]},{"id":"78b6a6023d2b8824","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"512445cca0cf0118","group":"","page":"0bf94704d1cb5a6f","ui":"","name":"vp2Logo","order":0,"width":0,"height":0,"head":"","format":"<template>\n    <a href=\"https://ncd.io/\" target=\"_blank\">\n    <div class=\"vp2logo\">\n        <v-chip label size=\"x-large\" :width=\"200\" color=\"white\" text=\"ncd.io\"></v-chip>\n    </div>\n    </a>\n</template>\n<style>\n.vp2logo {\n    transform: rotate(0deg);\n    width: 180px;\n    position: fixed;\n    top: 13px;\n    left: 35px;\n}\n.v-chip.v-chip--size-x-large {\n    --v-chip-height: 89px;\n    font-size: 2.125rem;\n    font-family: system-ui;\n}\n.v-chip--variant-tonal .v-chip__underlay {\n    border-radius: 15px !important;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":4020,"y":140,"wires":[[]]},{"id":"65868a8dc437b80f","type":"ui-template","z":"a5ea3b7ee9a1c602","g":"512445cca0cf0118","group":"","page":"0bf94704d1cb5a6f","ui":"","name":"vp2ProductInfo","order":0,"width":"","height":"","head":"","format":"<template>\n    <a href=\"https://store.ncd.io/product/industrial-iot-wireless-vibration-temperature-sensor-v3/\" target=\"_blank\">\n        <v-btn class=\"vp2InfoButton\" color=\"#6e53de\" density=\"default\" append-icon=\"mdi-open-in-new\"> Product info </v-btn>\n    </a>\n</template>\n<style>\n.vp2InfoButton{\n    height: 10px !important;\n    border-radius: 15px !important;\n    position: absolute;\n    top: 1049px;\n    left: 27px;\n    width: 142px;\n}\n</style>","storeOutMessages":true,"passthru":false,"resendOnRefresh":true,"templateScope":"widget:page","className":"","x":3860,"y":140,"wires":[[]]},{"id":"12c099269fab3c67","type":"junction","z":"a5ea3b7ee9a1c602","x":1840,"y":1180,"wires":[["34b982dfba16fbbb"]]},{"id":"8a85a0c40edb6753","type":"junction","z":"a5ea3b7ee9a1c602","x":690,"y":840,"wires":[["54555a21f2e591cd","94b7eca5801f428a"]]},{"id":"1964b01ccc24d3c7","type":"junction","z":"a5ea3b7ee9a1c602","x":470,"y":1080,"wires":[["cb0f086425ddb200"]]},{"id":"d9f27caa00a83dbd","type":"group","z":"a5ea3b7ee9a1c602","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["05172146550fa5a9","80e06d7b9a198244","078fe54f26f37fb1","5cff2d85e3ad5398","9b51fc79783f870f","62548cbadd021fa6","2d24acc9878c79cf","00fe8bfb333039ff","a8df242c54d0a648","c5e4d1bd7e06f369","e4da3e4bcbae0973","ab2ff43cf18290d1","e307c68a6c792c80","e597930fb8a58b96","6d76770bd6a74b52","facba472da7fa0fa","0e24de750171346c","71cd039f88845115","11f7e5c49ff226bd"],"x":3154,"y":299,"w":1102,"h":262},{"id":"b59b55d9b95efbb4","type":"group","z":"a5ea3b7ee9a1c602","name":"","style":{"fill":"none","label":true},"nodes":["e15f455f5cc0f2ff","4f08e86b83826a45","64cd2e78fb37a340"],"x":3554,"y":199,"w":692,"h":82},{"id":"512445cca0cf0118","type":"group","z":"a5ea3b7ee9a1c602","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["3e59c8de02539841","78b6a6023d2b8824","65868a8dc437b80f"],"x":3754,"y":99,"w":492,"h":82},{"id":"383c3100d43bf89a","type":"group","z":"a5ea3b7ee9a1c602","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["2117a7a4a738a8c5","23feb97323151c0b","924bc3e7b6b5e986","5715561983b3971c","63c22538e6cf2bf7","537114ec9c4431be","3f724fc60e595231","67b0e78c4e369f00","47d7fd2220fe1f3f","78395d874ef2eb6d"],"x":2934,"y":79,"w":592,"h":202},{"id":"742c5833f82b0149","type":"group","z":"a5ea3b7ee9a1c602","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["efa9f4d36655efcb","ad32f8dda5623a25","ef7b90cd674365bc","0b6d6d832d4bfa3e","992f652d882f76e1","7c5aae9f2039985b","caedc48937dab7b5"],"x":2344,"y":299,"w":792,"h":122},{"id":"be2b5847b94f4fde","type":"group","z":"a5ea3b7ee9a1c602","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b097c369fdb5c0e5","f0d7d6b82a5f972d","6483cfa6ad62dbbe","79fa3d5dcb9c8fd1","acaabd7dd45c158d","b095c260590c3f7f","6febb0272dfbe70b","4a3489eaf2d4f4b1","e84d54d1b611de45","b08585d1e75c3e3d","353ebe1c35b13b7f","3ea58bb76eee4ce7","b5b4bedc9e37818b","1335a4bcaa4cd402","d3c22a92ba868f9c","206df8b11ba69bc4","f2c72b5cefaba660","6c014b8f6b79593f","3cbc0fa3b5787fb4","d8de1ebbe9a18f5f","75286c30739a7a9f","4688e9e7a492f4f6","e6162859fa52c0dc","a18b16bacc45c069","2c3233df8a1dfe95","5ac92cbc8ed79358","a221f068e0ef712c","4393275c0db7b7d6","69a38605f6386c21","7c410b674312d8c7","988d3f846e4164d5","8fc86867d205dd1e","9763c356729cfdde","9898b0e4b5135684","b078fa7f5c652667","ee75d150c51814ce","bd2096664ee39946","91482350de241ad4","aac6b9d77a1f3fcb","87ed019d81849b3b","3b25e4c6fd26d314","9576353b927d2a38","44c0c1d9813c8926","3a8df859b4691aa8","42a5d772bf56e0a4","b874809031a1e2aa","06f91d4dfec3ca41","379bc8ab307a4747","a3c284f3f04f50c6","93cb078efbc8f81f","ce69ca8acb5a14ce","e6461625fe1f37c3","0dab613f71b85212","158e2ac2edd9f513","a3c40afaab94e0fe","7e739ed4d0dc7edf","013ea6f37f7bb8b4","9ffb03d1569206f3","b32b079c160140f1","3c2cbae94b89b898","a632eb718cea5508","f18c72970b0c5086","a110134caca34bea","fe51123e024044fe","4848b82b967176cd","da490057cb703d05","eeef887bcd5b9eaa","d33487eb1f64f87a","fbfb5c84ff6add9f","c5608a446b92bf1b","d41b9b3e582ee601","50841a4ad5aae2c7","d6cc3720f47fa450","fdd6ccc1c5982f19","f25564e90aad5346","855ff6809fe61ffd","f2a889152a233b81","3f7d75dfe8025e59","130373d07291bfce","9d91eaf761a77d0a","a59d5881605696e5","a99cbca433672ee2","f098d5fcb9ed3bbf","8b3e30596cf625ee","b38d2668bbd6ed99","1da32b5e4e930473","e8d84798612db086","f0e26820ee692647","0db9cbf82760dff6","2ea8300b5fd2992b","4b3b38f16dbd1d9e","44271dfc1c034626","e10d4817a6645b7c","f6c65d418e41a8b1"],"x":2774,"y":579,"w":1492,"h":702},{"id":"35e49e62e6249d6f","type":"group","z":"a5ea3b7ee9a1c602","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["42399c0b511434c2","fd4a3e6c453cafc3","9f773753ec721b19","92489476c4fbbddf","5cbfb1fb8318f9f3","5af84a3be5714441","bc6109304d4cb786","4c40c88c25f60e1f","10af4e8a206527aa","4eb04e7f4d84dbdf","10fe4ad094e48584","2fa907a135ae9c42","c20a1d5cca9c09f0","4bb0f4f4506ce4e2","0524e9a8b657cd1c","9e9d5f3784899c58","a326f4b438ffdd48","0137a0781dbd59c0","9b8d2ee2f54364ed","bcb479bc43f4ccc8","7523689fc49638ab","93abeb782d08fa5b","8a4e55167826d637","dafe682bfc58b8de","21465e365c549a63","23809b3257f1b7dc","1bd3e1f098c95fcc","2b312f6c518e172f","4278f54236b8f8e5","b9690adb528d4ed7","7b79afaef4cd38a4","7b4cfca87a4ee1be","c32ac99298befc90","9319b1d8e0e39882","3f5b6076b3234ba5","6e59850e3af74dbe","71b4e64f7362fc4a","d5019cac774da388","e1898f04ce9a174c","b1196a5af1dcde9a","c20c1a3d2bde6c6e","864694cc220f30f0","24c631c339432c7b","1ebb47da66ab6961","4b453131e141f8e0","10acdfcc7c94a099","eeb0908005611fa6","30f2823d20aafa34","5e585bca25e27b0f","a6dc8d35b89c03c5","d01b8edba9539fd6","12eb54bb46be33a7","560b510dda1b337c","205196f79967cefd","cd9b9df95a39b831","a68879af01f88ab4","a56d91f86e796ec1","7ff194d0a1b7b230","65a635112db11678","d497fca8cf72aae0","59cbf5c7d0f1fb39","55bf27c1259d861b","a91d44c876d36b6e","d26494062e228669","58b8d8d0c12373d2","b9e9611e289a3a29","aef0413e47a03d2f","eb90fbfa95b98c91","f20ae206ca4213b3","b19a19cc138871d3","86696f394fb072e6","f8fb6d695a0708a6","e8caa3a75ca37868","3825308f044c090f","0b92dea9fc8998ee","165d12393e91f997","603f7a7767a53862","b6c184fa568cb69c","019b8e4a83e523c7","474dea23c52c6ed7","7d885395bb8b3c5c","d066e2e39bf43590","c524f72fc7fc3211","36e60f7b1d722b90","ba8da8f0307b9862","350a7f8fe17aa8ac","57197cd1f053d51d","fa6320cfa17cf522","c71aa03cd10de891","ed359192c108664e","53fed09cc4929075","ffc2494dbfd7498a","2e2114607b93e893","54013b5ba55bd84d","e7156bcfac298b9d","0c3d7599c90d25e3","bbc934d0bb35991a","ba17faa64f084b78","2f77a50af29420f6","a1329cc14cae1925","d5f3f1077b35ce6f","b637a22811ee7db7","82e0ff4551011954","3dd22a834b08d399","01c2cd88e044a871","921430f22f95d3f5","c27c53f0edc5db78","493096184f9f8603","b680c517809e89b4","c35abe5269a0f7c9","ed28e126f09be3f2","79a9f97e0b99502e","c025482d2fb2efe8","42fc67e91af2a7c0","28e086117e557755","a858e201621148ad","85b8b893fb84ce96","8ee6c8a9eb7a149f","5894ec457cc39c1a","2937fc0275902c36","ecea0b4a21bcbe56","a995c2074dbb2017","bb6ebd20b9c446ed","fcf00b7edd7b209a","c942cfd5fe20659b","c8a8c10f1c1eded8","4886fa57fdceabda","d083520288c95837","0ea5c0da39438b66","8fa45bfe973384d4","d3f2f83fce12c358","ec71ab2fb58b6956","2bbd8c1566fa4b60","0c1f67b5889c762a","909a4e9f756e5c98","bde9385dce25f71e","e19fe43738596344","f29b17ce53382199","626170ce5bc553c4","2722d29561647efb","2ef3bf3906748eb9","2070966c6ab2e2e9","34dfd4cc599a5a69"],"x":2654,"y":1299,"w":1612,"h":1162},{"id":"3e5477a88c0626b3","type":"ui-group","name":"vp2SelectMAC","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":2,"showTitle":false,"className":"vp2GroupSelectMac","visible":"true","disabled":"false"},{"id":"ec459411017ddf37","type":"ui-base","name":"ncd-ui-base","path":"/dashboard","includeClientData":true,"acceptsClientConfig":["ui-notification","ui-control"],"showPathInSidebar":false,"navigationStyle":"default"},{"id":"07f29f71154dac47","type":"ui-group","name":"vp2Insp1","page":"0bf94704d1cb5a6f","width":"2","height":"1","order":27,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"6cb2b57789b3272e","type":"ui-group","name":"vp2Insp2","page":"0bf94704d1cb5a6f","width":"2","height":"1","order":28,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"4786dc859b7c9480","type":"ui-group","name":"vp2Insp5","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":31,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"61fb2d3af76ccdf4","type":"ui-group","name":"vp2Temperature","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":17,"showTitle":false,"className":"vp2GroupTempBatt","visible":"true","disabled":"false"},{"id":"6f7e0646abf46088","type":"ui-group","name":"vp2ODR","page":"0bf94704d1cb5a6f","width":"1","height":"1","order":16,"showTitle":false,"className":"vp2GroupODR","visible":"true","disabled":"false"},{"id":"3081a990e65acad2","type":"ui-group","name":"vp2ACCGroup_x","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":18,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"7889368efe74e777","type":"ui-group","name":"vp2Battery","page":"0bf94704d1cb5a6f","width":"5","height":"1","order":4,"showTitle":false,"className":"vp2GroupTempBatt","visible":"true","disabled":"false"},{"id":"8b11eca77e123869","type":"ui-group","name":"vp2VelDisplGroup_x","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":19,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"607e278978719039","type":"ui-group","name":"vp2OneTwoThreeGroup_x","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":20,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"64d372314cdc49f4","type":"ui-group","name":"vp2ACCGroup_y","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":21,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"a333ce84aee05ad4","type":"ui-group","name":"vp2VelDisplGroup_y","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":22,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"39f674abf7518f1e","type":"ui-group","name":"vp2OneTwoThreeGroup_y","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":23,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"2d38d057659ced52","type":"ui-group","name":"vp2ACCGroup_z","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":24,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"f187641492957d3f","type":"ui-group","name":"vp2VelDisplGroup_z","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":25,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"7f7288fbc8bd5e53","type":"ui-group","name":"vp2OneTwoThreeGroup_z","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":26,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"24e8397acc063d71","type":"ui-group","name":"vp2Insp3","page":"0bf94704d1cb5a6f","width":"2","height":"1","order":29,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"0bf94704d1cb5a6f","type":"ui-page","name":"ncd-2ch-vibration","ui":"ec459411017ddf37","path":"/2chvibration","icon":"mdi-waveform","layout":"grid","theme":"e01eadf35316cb83","order":1,"className":"","visible":"true","disabled":"false"},{"id":"f82b9b4104bcd042","type":"ui-group","name":"vp2switch","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":1,"showTitle":false,"className":"vp2switch","visible":"true","disabled":"false"},{"id":"2b5ddfdaeae7aa4f","type":"ui-group","name":"vp2Insp4","page":"0bf94704d1cb5a6f","width":"2","height":"1","order":30,"showTitle":false,"className":"vp2InspectGroup","visible":"true","disabled":"false"},{"id":"1012cbd171f1374c","type":"ui-group","name":"vp2Temperature2","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":6,"showTitle":false,"className":"vp2GroupTempBatt","visible":"true","disabled":"false"},{"id":"51fa25ecfc2a35db","type":"ui-group","name":"vp2ODR2","page":"0bf94704d1cb5a6f","width":"1","height":"1","order":5,"showTitle":false,"className":"vp2GroupODR","visible":"true","disabled":"false"},{"id":"d037ea7958faf54a","type":"ui-group","name":"vp2ACCGroup_x2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":7,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"b51f576bdca43dfc","type":"ui-group","name":"vp2VelDisplGroup_x2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":8,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"f23d584c29e5e385","type":"ui-group","name":"vp2OneTwoThreeGroup_x2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":9,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"4918cda05c89ceb3","type":"ui-group","name":"vp2ACCGroup_y2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":10,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"b60e46b738c5deba","type":"ui-group","name":"vp2VelDisplGroup_y2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":11,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"a678bbf7c1abbd85","type":"ui-group","name":"vp2OneTwoThreeGroup_y2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":12,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"a669ae2b41acdc89","type":"ui-group","name":"vp2ACCGroup_z2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":13,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"caf265dc7b00ccc9","type":"ui-group","name":"vp2VelDisplGroup_z2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":14,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"8b5b991a2ae853ed","type":"ui-group","name":"vp2OneTwoThreeGroup_z2","page":"0bf94704d1cb5a6f","width":"4","height":"1","order":15,"showTitle":false,"className":"vp2GroupsCharts","visible":"true","disabled":"false"},{"id":"5f2e4d2f7469a51c","type":"ui-group","name":"vp2Download","page":"0bf94704d1cb5a6f","width":"6","height":"1","order":3,"showTitle":false,"className":"vp2GroupDownload","visible":"true","disabled":"false"},{"id":"e01eadf35316cb83","type":"ui-theme","name":"ncdTheme","colors":{"surface":"#0099cc","primary":"#0931fb","bgPage":"#a3a7a8","groupBg":"#84daf0","groupOutline":"#9da2a4"},"sizes":{"pagePadding":"12px","groupGap":"12px","groupBorderRadius":"4px","widgetGap":"10px"}},{"id":"bd2660910fd9fd78","type":"subflow:a5ea3b7ee9a1c602","z":"adcae456bdd7867d","name":"","x":600,"y":160,"wires":[]}]
